[2015-11-16 17:56] lalop opened #1 "regenerate storage folder structure if empty"
When we link storage folder from an other container the subdirectories can be missing.
We have to check that

[2015-11-29 19:22] #1 closed

[2015-12-02 12:46] lalop opened #2 "add content in the readme"
and on the docker registry page

[2015-12-19 23:20] srenon opened #3 "Install Error (Invalid default value for 'created_at') using Docker File"
production.ERROR: exception 'PDOException' with message 'SQLSTATE[42000]: Syntax error or access violation: 1067 Invalid default value for 'created_at'' in /var/www/app/vendor/laravel/framework/src/Illuminate/Database/Connection.php:362

`# php artisan --version`
Laravel Framework version 5.0.33

To get it working I had to
ssh into the app server
`# cd /var/www/app`
`# composer update`

  - Removi

[2015-12-20 11:25] lalop commented on #3
It's seems to depend on the mysql version to.
Are the migration completed ?

[2015-12-20 11:28] hillelcoren commented on #3
From the other thread... adding strict equals false to the database config file may help.

[2015-12-20 12:15] lalop commented on #3
@srenon do you use the docker-compose of this repository ?

[2015-12-20 13:23] srenon commented on #3
@lalop .. this was my installing procedure

Install docker (mac os)
git clone this repo
open Docker Quickstart Terminal
`docker-compose up`
Then open the url and fill out the installation form

[2015-12-22 17:14] lalop commented on #3
I will try to make a new image in the next days

[2015-12-24 13:27] lalop commented on #3
I just come to push a new image with the new invoice version, this new one uses laravel 5.0.33 since this is defined into the composer.lock
@srenon I can't reproduce your error, can you try with this new image ?
@hillelcoren there is a good reason to keep composer.lock into the repository ?

[2015-12-24 13:46] hillelcoren commented on #3
@lalop If we didn't keep the composer.lock file in the repo when users run composer install they may get slightly different versions of the libraries than the ones we've tested with.

[2015-12-24 13:54] lalop commented on #3
ok I see but if composer.lock is not up-to-date some fix on dependencies ( like laravel here ) can't be deployed with the app.
If you trust the package owner you should define the major and minor version of the package and be open to patch, and remove composer.lock
That is my point of view

[2015-12-24 14:06] hillelcoren commented on #3
I think these may be two separate issues:
- The dependancies are out of date in our lock file, this should be fixed.
- My understanding is that the best practice is to check in the lock file. It even advises it in the composer docs: https://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file

[2015-12-29 11:55] hillelcoren commented on #3
I've updated the composer.lock file.

[2016-04-03 19:16] #3 closed

[2016-04-03 19:16] #2 closed

[2016-04-20 09:47] yinshanyang opened #5 "/var/www/app/docker-backup-storage/ not found on restart"
steps to replicate:

[code]

which will yield this error:

[code]

the work around I had was to run `docker-compose rm app` and then run `docker-compose up` again.

[2016-04-20 13:17] lalop commented on #5
I did it directly online so we have to wait for docker hub to rebuild this image but the new image should fix this issue

[2016-04-20 13:54] yinshanyang commented on #5
okay, I think this fix introduces another set of ownership issues…

![screen shot 2016-04-20 at 3 52 28 pm](https://cloud.githubusercontent.com/assets/499829/14677030/1f5f8e62-0710-11e6-8586-11db74a56845.png)

[2016-04-20 14:07] lalop commented on #5
hummm... I see.
Just send a new build

[2016-04-21 10:00] yinshanyang commented on #5
just did a quick check, works great now, cheers

[2016-04-21 10:00] #5 closed

[2016-04-21 11:59] lalop commented on #5
good news, thank you

[2016-04-25 22:44] spicypixel- opened #6 "Possibility of inclusion on https://stackfiles.io/?"
Would it be possible to edit the docker-compose to work with [cloud.docker.com](cloud.docker.com) and their [stackfiles.io](stackfiles.io) repository?

[2016-04-26 07:01] lalop commented on #6
I imagine we can yes but I'm not aware of what is needed to do that.
Have you some more information ?

[2016-04-26 18:47] spicypixel- commented on #6
Seem it just needed the nginx port in quotations to parse.

[2016-04-29 06:50] lalop commented on #6
@spicypixel- why did you close it ?

[2016-04-29 07:30] spicypixel- commented on #6
Yeah due to [the issue](https://github.com/invoiceninja/invoiceninja/issues/827) here with the .env file being broken it doesn't work if you can't volume mount an .env file with SMTP settings pre set.

[2016-05-22 21:38] lalop opened #7 "debug bar is visible"
on the last image the debug bar is visible

[2016-05-22 21:58] #7 closed

[2016-05-29 18:04] jkaa opened #8 "Is there any issue with compose file (from README) and the web container?"
No matter on which host I try to start invoiceninja via docker-compose I only get log messages from container db_1 and app_1, but no log messages indicating any action in web_1 at all.

I cannot reach out to invoiceninja via webbrowser, appears to be not running.
All containers seem to be up as stated by docker ps (docker-compose ps).

I really appreciate your help!

[2016-06-01 16:39] jkaa commented on #8
Is there no one actively looking at newly created issues?

[2016-06-01 17:29] lalop commented on #8
hello @jkaa,
I missed the github notification, I will give a look this night

[2016-06-01 19:04] lalop commented on #8
Do you have any error ?
I can run the current docker-compose whithout any issue.
All you need is the nginx.conf file that is at the root of this repository.

[2016-06-01 20:26] jkaa commented on #8
The nginx.conf is in place. I do not get any error, I just cannot access the invoiceninja webpage and I do not see any log messages of the web container in the docker logs.

[2016-06-01 20:27] lalop commented on #8
can you paste all your docker log ?

[2016-06-01 20:30] jkaa commented on #8
[code]

[2016-06-01 20:32] lalop commented on #8
what `docker ps` gives ?

[2016-06-01 20:33] jkaa commented on #8
docker ps

[code]

docker-compose ps
[code]

[2016-06-01 20:39] lalop commented on #8
Can you try with an other port then the 80 ?

[2016-06-01 20:43] jkaa commented on #8
You mean like that?
docker-compose ps
[code]

Unfortunately no difference...

[2016-06-01 20:44] lalop commented on #8
change the last line of your docker compose by 80:8888 and try to connect on your web server on port 8888

[2016-06-01 20:49] jkaa commented on #8
Are you sure it is not the other way round? HO ST:CONTAINER (8888:80).
(https://docs.docker.com/compose/compose-file/#ports)
Anyways, none of the two combinations do work for me.

I also tried to map port 443 to a different hight port. No log messaged and page does not get loaded.

[2016-06-01 21:06] lalop commented on #8
Your are right it's the other one.
Any way I don't understand why you can't request your web server.

[2016-06-01 21:11] jkaa commented on #8
Me neither. :-(
Can you show me your docker logs?

[2016-06-01 21:14] lalop commented on #8
You can try with my docker compose to  start

[code]

My logs will not be really helpfull I think

[2016-06-01 21:18] jkaa commented on #8
Ok tried but there is absolutely no way to get through to the webserver. The same is true for the same setup in digitalocean's droplet. Do you get any logs from the web container?

[2016-06-01 21:20] lalop commented on #8
can you try with a raw nginx ?

[2016-06-01 22:04] jkaa commented on #8
It is also not working, there seems to be the problem....
Container is up and running, no reaction to browser/curl etc.

I really appreciate your efforts, but this indicates it is not an invoiceninja problem at all.

[2016-06-01 22:11] lalop commented on #8
I think to.
This seems to come from your server configuration.

[2016-06-01 22:12] #8 closed

[2016-06-03 20:40] thiagoalmeidasa opened #9 "Possibility of volume to persist data like uploads and logos"
I've made my image from your example in https://github.com/moss-it/docker-invoiceninja , basically  integrating nginx to the image.
Now I'm wondering how I can use docker volumes to persist with logos and others uploads, but I don't know the laravel directory structure. Can you help me or indicate some lecture link?

[2016-06-05 12:49] lalop commented on #9
hi @thiagoalmeidasa,
all you need to persist is `public/logo` and `storage`

[2016-06-05 12:54] thiagoalmeidasa commented on #9
Thanks. I'll test then.

[2016-06-06 07:24] lalop commented on #9
Could you close this issue if it's good for you ?

[2016-06-14 07:45] theodotos opened #10 "docker-compose: could not synchronise with container process"
I am trying to test run invoiceninja using the *docker-compose.yml* in the Readme. No customizations in the *docker-compose.yml*.

When I run `docker-compose up` I get:

[code]

Indeed the web container fails to start:

[code]

Log says:

[code]

Docker info:

[code]

Any hints?

References
---------------
* https://github.com/invoiceninja/dockerfiles/blob/master/README.md

[2016-06-18 07:47] lalop commented on #10
Hello,
this doesn't seam to come from the invoiceninja image.
What version of docker do you use ? What is your os ?

[2016-06-18 07:47] #9 closed

[2016-06-18 07:50] lalop commented on #10
Do you put the nginx.conf file on your file system ?

[2016-06-18 10:23] theodotos commented on #10
Docker info:

<pre>
# docker info
Containers: 3
 Running: 2
 Paused: 0
 Stopped: 1
Images: 5
<strong>Server Version: 1.10.3</strong>
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 57
 Dirperm1 Supported: true
Execution Driver: native-0.2
Logging Driver: json-file
Plugins:
 Volume: local
 Network: host bridge null
Kernel Version: 4.4.0-22-generic
<strong>Oper

[2016-06-18 11:04] lalop commented on #10
ok but did you get the nginx.conf file before ?

[2016-06-19 07:13] theodotos commented on #10
Ah you mean I need to configure before I attempt to start the container?

[2016-06-20 10:40] lalop commented on #10
If you want to use the docker-compose.yml exemple you must have a nginx.conf file, a default one is given in this repository

[2016-06-20 11:09] theodotos commented on #10
Now I see. My bad, I'll give it a try.

[2016-06-20 12:11] #10 closed

[2016-06-24 21:21] jkaa opened #11 "Persist data & recreate container -> Where is configuration stored after setup?"
According to dockerfiles comment:

- I did as proposed by mounting host directories and stepped through the setup process in browser
- afterwards I logged in and made some changes
- I stopped the containers, removed them and recreated them with `docker-compose up`

**RESULT:**
The is no data in the host mounted folders AND I get redirected to the setup page over and over again (can not complete it

[2016-07-25 18:07] lalop commented on #11
Hello,
can you share your docker-compose file ?

[2016-07-31 18:18] marinus opened #12 "Docker compose example doesn't work"
Tried the example docker compose using Docker version 1.12.0, build 8eab29e
Docker compose does start up but could can't browse.
`
invoice-ninja$ docker-compose up
Starting invoiceninja_db_1
Recreating invoiceninja_app_1
Recreating invoiceninja_web_1
Attaching to invoiceninja_db_1, invoiceninja_app_1, invoiceninja_web_1
db_1   | 2016-07-31T18:11:47.575708Z 0 [Note] mysqld (mysqld 5.7.13) starting

[2016-07-31 19:01] lalop commented on #12
hello,
did you clone the repos ?
as you can see in the docker-compose.yml, the file nginx.conf is mounted from the host, is it present into the folder that contains docker-compose.yml ?

[2016-07-31 19:15] marinus commented on #12
Yes. I cloned the repo and added the compose file to the same directory.

Sent from my mobile

[2016-08-01 06:33] lalop commented on #12
I did a new image can you test with this one please ?

[2016-08-01 06:35] lalop commented on #11
But to answer, the configuration is stored in the database

[2016-08-01 07:37] marinus commented on #12
Thanks for the update, I have some debugging information to share.
[ninja1.txt](https://github.com/invoiceninja/dockerfiles/files/393152/ninja1.txt)

[2016-08-01 07:43] lalop commented on #12
This erroris fixed in the last invoiceninja image, please pull it.

[2016-08-01 08:42] marinus commented on #12
A docker pull resolved the issue.

[2016-08-01 08:43] #12 closed

[2016-08-02 21:15] lalop commented on #11
@jkaa did this answer to your question ?

[2016-08-03 05:38] marinus opened #13 "Can't force clear text connection for troubleshooting"
I'm testing out the docker version and I need to connect it to an SMTP server.
I've connected the most popular docker smtp server from dockerhub called namshi/smtp.
Although I can make connections using openssl to it invoiceninja is refusing.
I'm using docker application linking to enable networking between containers.

smtp_1 | 306 LOG: MAIN smtp_1 | 306 TLS error on connection from ninja ([172.1

[2016-08-10 07:36] lalop commented on #13
I closed this issue since the answer is on the invoiceninja repos https://github.com/invoiceninja/invoiceninja/issues/1027

[2016-08-10 07:36] #13 closed

[2016-08-15 09:28] codedge commented on #6
Seems to be outdated? Can we close the issue?

[2016-08-15 09:29] codedge commented on #11
Seems to be solved or outdated? Can we close the issue?

[2016-08-15 12:04] jcoetzee commented on #11
Sorry to hijack this thread but playing with Invoice Ninja on docker I don't understand how this could work without mounting /var/lib/mysql in order to persist DB data? How else could DB data be persisted?

[2016-08-15 22:21] jkaa commented on #11
I am a bit in a hurry:

- sadly this did not answer my question
- in the snippet below you can find the solution that worked for me. Please note lines commented out refer to my initial strategy to address the problem described in the issue, which did not work (different folders got mapped, ).
- in the web and app container are volumes_from directives pointing to the declared kind of 'volume contai

[2016-08-19 18:56] lalop commented on #11
@jkaa where the NINJA_FOLDER variable comes from ? So you solved your issue isn't it ?

@jcoetzee the my database is not contained into the invoice image so this is not related, btw please open a new ticket if your issue is not directly linked to the topic.

[2016-08-23 07:48] peterwilli opened #14 "using SSL with docker-compose"
Hi there,

I've made my docker-compose like this (I already have a SQL server running, hence the environment variables):

[code]

And then run another nginx instance outside docker that has the SSL configuration:

[code]

The site shows up but the server still serves some resources as http, as we can see in this screenshot:
![screenshot from 2016-08-23 09-47-29](https://cloud.githubusercontent.com

[2016-08-23 08:35] lalop commented on #14
can you try to set the APP_URL env var with https ?

[2016-08-23 09:52] peterwilli commented on #14
@lalop nothing unfortunately :(

I tried like this (both with https and https://domain.xx):
[code]

[2016-08-23 09:55] lalop commented on #14
@hillelcoren did you know how to set invoice ninja to handle https ?

[2016-08-23 11:21] hillelcoren commented on #14
If you're using a proxy you may need to set TRUSTED_PROXIES

https://github.com/invoiceninja/invoiceninja/blob/master/app/Http/Middleware/StartupCheck.php#L32

[2016-08-23 17:44] peterwilli commented on #14
@hillelcoren Thanks I'll try that

[2016-08-23 20:09] peterwilli commented on #14
@hillelcoren @lalop I solved it! You needed to add `fastcgi_param  HTTPS              1;` to you NGINX config. Mine complete config is like this now:

[code]

Just replace the on in the repo with this one and you're good to go, in case anyone else has the same issue!

[2016-08-23 20:09] #14 closed

[2016-08-30 07:07] #11 closed

[2016-09-15 11:34] peXed opened #15 "Error after setup"
Hello!

I'm trying to get the docker image running. So far, I made it to the setup screen and I could run the setup.

After this, I always get "Whoops, looks like something went wrong." and in the laravel-error.log I get:

`[2016-09-15 11:27:19] production.ERROR: ErrorException: fopen(/var/www/app/storage/version.txt): failed to open stream: Permission denied in /var/www/app/app/Http/Middleware/St

[2016-09-15 11:38] peXed commented on #15
Ok. I fixed it by my self. Guess there is something wrong in the docker image.
I just did the following:
[code]

[2016-09-15 12:52] lalop commented on #15
Hello @peXed ,
I don't have any permission issue.
How do you run this image ?
Are you using docker inside a vm ?

[2016-09-15 13:29] peXed commented on #15
I run it inside a rancher environment.

[2016-09-16 12:43] peXed opened #16 "Suggestion: Add Cronjobs to docker image"
Hello!

After I solved the first, small problems, I have to say invoice ninja seems to be awesome! :+1:

But I have a suggestion, it would be awesome if the cronjobs for invoiceninja would be included in the docker image as well.

Cheers,
Dom

[2016-09-19 15:47] peXed commented on #16
@lalop Thanks. That would be even a better solution! 👍

[2016-09-20 10:20] lalop commented on #15
I can't reproduce this issue for the moment.
Did you have the problem on other platform ?

[2016-09-23 06:27] lalop commented on #16
@peXed you will find this in docker-compse.yml

[2016-09-23 06:27] #16 closed

[2016-09-23 07:37] peXed commented on #15
No. This was the first time I ran into any chmod related issue.

[2016-09-23 10:40] lalop commented on #15
So I imagine this is related to Rancher

[2016-10-08 01:43] maxguru opened #18 "Data persistence doesn't work"
The README says 'To make your data persistant, you have to mount /var/www/app/public/logo and /var/www/app/storage.'

Well, I added the following to the app section in docker-compose.yml,

[code]

[code]

... did lots of configuration through the web UI ..

[code]

and everything is gone and I start from scratch!

[2016-10-08 01:45] maxguru opened #19 "Spelling errors"
README: persistent, not persistant
Dir name: example, not exemple

[2016-10-08 01:47] maxguru opened #20 "Debugging (web UI bar) is turned on by default, impossible to turn off"
It seems that no matter what, debugging is turned on and impossible to turn off through the check box in web UI.

[2016-10-08 17:51] hillelcoren commented on #20
I'm not sure, I'm not able to replicate this.

Have you tried manually editing the .env file.

[2016-10-10 23:31] maxguru commented on #20
I will try to do it, but the feature is definitely broken with deployed with docker-compose.

[2016-10-11 03:34] maxguru commented on #20
I checked and it looks like `APP_DEBUG=false` in `.env` file, but it still shows the PHP debug bar at the bottom of the browser window.

[2016-10-12 15:15] lalop commented on #20
@maxguru can you share your `docker-compose.yml` file please ?

[2016-10-12 15:16] lalop commented on #19
thank you

[2016-10-12 15:16] #19 closed

[2016-10-12 19:31] maxguru commented on #20
[code]

I have customized nginx.conf to make things work right with a reverse proxy.

By the way, I had to `chmod a+rwx data/*` to make it work.  Also, see issue #18.

[2016-10-12 23:19] lalop commented on #20
you should define `APP_DEBUG` at `0`

[2016-10-13 01:11] maxguru commented on #20
How do I change it in the running container?  If I do `docker-compose down; docker-compose up` it will wipe my data.

[2016-10-17 17:18] lalop commented on #20
can you try to do a `restart` ?

[2016-10-17 17:22] lalop commented on #18
The data is stored in the database, this folder is shared to keep logos et invoice's template mainly.
According to the docker-compose file you shared https://github.com/invoiceninja/dockerfiles/issues/20 it seems that you don't mount the good folder for mysql container.
See this for more information https://hub.docker.com/_/mysql/

[2016-10-17 17:22] #18 closed

[2016-10-17 17:22] #15 closed

[2016-10-17 20:56] maxguru commented on #18
Actually, I did guess this correctly and initially had a volume for /var/lib/mysql, however, it was failing for me with the initialization migration scripts outputting duplicate key errors.

[2016-10-18 12:18] lalop commented on #18
Wich one is fixed isn't it ?

[2016-10-18 22:07] maxguru commented on #18
I just tested it and it seems to be failing to initialize.

I have the following docker-compose.yml file,
[code]

I had to do the following to make it work,
[code]

However, it seems to be failing,
[code]

[2016-10-20 04:28] maxguru commented on #20
I did `docker-compose stop` and `docker-compose start` but it didn't help.

[2016-10-24 06:44] lalop commented on #20
@hillelcoren can `dotenv` override `$_ENV` ?

[2016-10-24 17:20] hillelcoren commented on #20
Adding a value to the .env file should set it in the $_ENV, I'm not sure if it will override a value if it's already there.

[2016-10-28 14:09] seybi87 opened #21 "Web Server does not start"
Hi,

I tried the dockerfile on an Ubuntu 14.04 virtual machine with Docker 1.12 and Docker-Compose 1.8.1

The containers are started (docker ps) but it seems the webserver does not come up as no process listens on port 80 (netstat -tulpn) or any other port.

The startup log of docker-compose:

`Attaching to exemple_db_1, exemple_cron_1, exemple_app_1, exemple_web_1
^[[36mdb_1    |^[[0m 2016-10-28T

[2016-11-03 20:40] javexed opened #22 "Typo: exemple -> example"
Just a minor typo that I see

[2016-11-07 20:08] lalop commented on #22
thank you

[2016-11-07 20:08] #22 closed

[2016-11-15 11:04] lalop commented on #21
Hello @seybi87 ,
Did you have this issue with the last image ?

[2016-11-19 13:33] lalop commented on #20
Hello, @maxguru did you tried the new image ?

[2016-11-28 09:24] cinemast commented on #14
Thank you for posting this, it helped a lot.

[2016-12-08 14:54] Chewie opened #23 "Docker-compose example failing because of mcrypt_get_iv_size()"
Hello, upon cloning the repository and running the docker-compose, deployment runs fine but access returns an internal server error because an mcrypt function is deprecated:

[code]

The docker-compose script is unchanged from the clone.

Thanks !

[2016-12-08 15:08] Horgix commented on #23
Hello,

The Docker image tagged as 2.5 from 8 months ago doesn't work either :

Also with an unchanged docker-compose from what is in this repository except the ":2.5" tag to the image.

[2016-12-09 09:17] cinemast commented on #23
I am experiencing the same problem.

[2016-12-09 09:24] cinemast opened #24 "Proper tagging on Docker Hub"
Hi!

Thanks for providing this docker image. However I would wish for a proper version tagging on docker hub. Currently all releases end-up in latest. Could you please create a tag for each release? It was the case for versions before 2.5.1.2

https://hub.docker.com/r/invoiceninja/invoiceninja/tags/

[2016-12-09 10:28] cinemast commented on #23
While scanning through the changelogs of php 7.1 which has been released 2 days ago, I found that mcrypt is now deprecated/removed from php 7.1

http://php.net/manual/de/migration71.deprecated.php

[2016-12-12 08:36] turbo124 commented on #23
As Mcrypt is only deprecated, adjusting Error reporting to  ~E_DEPRECATED will remove this error message and 7.1 will work fine.

[2016-12-12 08:38] cinemast commented on #23
Well than the same problem will appear in 7.2, where it will  be removed.
I think the issue should be fixed upstream. See https://github.com/invoiceninja/invoiceninja/issues/1188

[2016-12-16 08:54] pierreozoux commented on #20
@maxguru docker-compose stop and docker-compose start are not enough, you'd need to docker-compsoe rm in the middle.

[2016-12-16 08:59] pierreozoux commented on #21
@seybi87 can you `docker-compose ps`?

Also, related to https://github.com/invoiceninja/dockerfiles/pull/26 the current docker-compose starts the web server on a random port on the host.
You should apply the change in the mentionned pr, it should solve your issue.

[2016-12-19 08:39] lalop commented on #23
Why a warning throw an error ?

[2016-12-19 08:39] #21 closed

[2016-12-19 08:44] turbo124 commented on #23
@lalop this is a php configuration issue. If error reporting is set to E_ALL (or in this case E_WARNING) then output will terminate with error - even thou it is only a warning / deprecated message.

[2016-12-19 08:44] lalop commented on #20
@maxguru can we close this ?

[2016-12-19 08:49] lalop commented on #23
ok thank you

[2016-12-19 08:49] #23 closed

[2016-12-19 08:52] lalop commented on #24
Since the invoiceninja's maintainers work only on the next release and don't maintain olders one I don't see a good reason to tag the docker image.
How this can help you ?

[2016-12-19 09:01] cinemast commented on #24
It allows each individual to decide when it wants to update the invoice ninja app in a reproducible way. Currently it depends on the date/time of pulling which version will be received.

Please tag them on each release. Latest will always be there anyway for rolling release. I don't expect any updates on old releases of course, just that I am able to decide which version of invoice ninja I will re

[2016-12-19 09:05] lalop commented on #24
The point is that, the image is automatically builed, I have to rework all this repos to tag all version.
I will try to take some time to do this next month

[2016-12-19 19:37] lalop commented on #24
they are coming https://hub.docker.com/r/invoiceninja/invoiceninja/tags/

[2016-12-19 19:40] cinemast commented on #24
Thank you!

[2016-12-21 00:47] maxguru commented on #20
Yes, looks like it is working.

[2016-12-21 08:00] #20 closed

[2016-12-21 08:00] #24 closed

[2017-01-20 10:35] WesleyCharlesBlake opened #29 "Cron does not send emails/reminders"
I've noticed that using the example docker compose file, the cron container starts and runs, however the emails and reminders are not sent.

I have configured my instances to send through Mailgun, and manual sends from the app itself are working correctly.

using v.2.8.0 of Invoice Ninja. debug doesnt show anything either.

Any ideas where I can start to look?

[2017-01-20 10:38] WesleyCharlesBlake commented on #29
Running the commands manually in the container work as well:

[code]

[2017-01-20 10:48] WesleyCharlesBlake commented on #29
The logs indicate the following only
[code]
It could be that the cache is not being created? Im not sure, I will see what I can find out

[2017-01-27 11:51] Hermsi1337 opened #31 "Connection refused while connecting to upstream"
Hey Folks,

I'm a bit of a blockhead just now. I try to setup invoice ninja along with an nginx-proxy from jwilder with docker-compose. No matter what I do, I get the following error:

[code]
Do you guys have an Idea?

This is my docker-compose.yml:
[code]

My nginx.conf:
[code]

[2017-01-29 11:36] LaurensRietveld opened #32 "Including phantomjs locally"
This would resolve quite some issues as PDFs can be generated locally. Afaik, this docker image does not include phantomjs yet, so no local pdf generation is supported yet.

Perhaps relevant, this comment on including phantomjs: https://github.com/invoiceninja/invoiceninja/issues/886#issuecomment-270483293

[2017-01-31 12:54] lalop commented on #32
hello @LaurensRietveld

thank you to point this issue.
I will make this asap in the week

[2017-02-01 13:21] lalop opened #34 "persistent data and update"
From the invoiceninja repos, dixit @freskimo

[2017-02-01 13:24] lalop commented on #34
As said in the readme https://github.com/invoiceninja/dockerfiles/blob/master/README.md, you should not presist the public folder only  `public/logo` all other files comes with the new image.
This image can't be aware of what is persisted or not

[2017-02-01 14:07] freskimo commented on #34
I know...

But you declared volume in the Dockerfile (which means it is persistent!!). I know you did this to use the volumes_from on the web service. But this has the side-effect of the problem we are discussing.

[2017-02-01 14:08] lalop commented on #34
Oh ? I didn't know that, re you sure ?

[2017-02-01 14:08] freskimo commented on #34
https://github.com/invoiceninja/dockerfiles/blob/master/Dockerfile#L55

[2017-02-01 14:11] lalop commented on #34
:) sorry I mean are you sure that the data will be persisted  even if no external folder is mounted on public ?

[2017-02-01 14:16] freskimo commented on #34
Yes, declared volume in the Dockerfile, externally or named are actually all the same. Internally a directory under the docker mount directory will be created which holds all changes with respect to the original image.

This last line should be read as "if the volume is created". The order of the volume directive in the Dockerfile does not matter whatsoever

[2017-02-01 14:20] freskimo commented on #34
This is actually logic when you think about it. If you say some directory needs to be persistent you don't want that starting up a new instance of this container will save over all the data you wish to keep.

[2017-02-01 14:26] lalop commented on #34
how do you update your image ?
I have to reproduce this issue since I'm running this image since I created it, updating each time a new version is out and I never get this kind of issue.

[2017-02-01 14:29] freskimo commented on #34
`docker-compose pull`
`docker-compose up -d`

I can omit the problem by:
`docker-compose pull`
`docker-compose stop`
`docker-compose rm -f`
`docker-compose up -d`

But this is not the preferred method because you remove the persistent volumes...

[2017-02-02 12:49] lalop commented on #32
@LaurensRietveld can you give me a simple way to repproduce the issue caused by the lack of phantomjs ?

[2017-02-02 12:52] hillelcoren commented on #32
If PhantomJS isn't installed the app still works but we use a third party service (https://phantomjscloud.com/) to generate the PDF

[2017-02-02 12:54] lalop commented on #32
ok, but how can I test if local phantomjs is used ?

[2017-02-02 12:56] LaurensRietveld commented on #32
That should be visible on this page: `/settings/email_settings`. Next to the 'attach invoice' setting you should see the text `Using local PhantomJS`.
If the text didn't show yet, you might need to add env variable `PHANTOMJS_BIN_PATH: /usr/local/bin/phantomjs` to the compose file as well

[2017-02-02 12:59] lalop commented on #32
thank you @LaurensRietveld for this information I'm looking to fix this

[2017-02-02 14:27] lalop commented on #32
Something like that ?
![capture d ecran 2017-02-02 a 15 26 58](https://cloud.githubusercontent.com/assets/313117/22553182/19277968-e95c-11e6-9488-5e719150bc7f.png)

[2017-02-02 14:34] LaurensRietveld commented on #32
jep, exactly!

[2017-02-02 14:35] lalop commented on #32
I just push Dockerfile with phantomjs, docker hub should compile a new image with the latest tag in few minutes

[2017-02-02 15:09] LaurensRietveld commented on #32
great, seems to be working for me, thanks!

[2017-02-02 15:13] lalop commented on #32
good news,
thank you

[2017-02-02 15:13] #32 closed

[2017-02-02 20:36] cinemast commented on #29
I am having the same issue.

[2017-02-03 09:15] freskimo commented on #34
@lalop what do you think?

How do you update then?

[2017-02-03 11:07] dlichtenegger commented on #29
I'm having the same issue too.

[2017-02-03 13:08] lalop commented on #34
I update like this :
[code]
I was aware of docker is persisting all the defined volume, you point a real issue but I don't know what is the good way to solve this.
Rsync is a good one but it adds some complexity to the image, in an other and all the other Dokerfile I see ( wordpress, nextcloud ... ) don't seam to manage this.
So I'm looking for a commun way to solve this... maybe adding some doc a

[2017-02-03 13:08] lalop commented on #34
@pierreozoux maybe you can light us here

[2017-02-03 13:33] lalop commented on #29
I think the issue comme from the `.env` is not shared, can you try by adding email setting in your docker compose env https://github.com/invoiceninja/invoiceninja/blob/master/.env.example ?

[2017-02-03 13:45] WesleyCharlesBlake commented on #29
I was just about say :).

The cron container doesnt have the .env file

Cron container:
[code]

The App container:
[code]

Inside the .env file on the app container, I can see my mailgun settings:

[code]

I will update my PR to resolve this

[2017-02-03 13:54] lalop commented on #29
Can you just give a try to set this env variable via the docker env mecanism ?

[2017-02-03 13:54] WesleyCharlesBlake commented on #29
I've tried setting the env now and its not working all too well

[2017-02-03 13:59] WesleyCharlesBlake commented on #29
ok so setting the environment vars through the docker-compose.yml file works:

eg
[code]

[2017-02-03 14:14] lalop commented on #29
this is a good news, I have to update the doc and the example

[2017-02-03 16:40] lalop commented on #29
here it's https://github.com/invoiceninja/dockerfiles/commit/771f64787320f44551594352aa7bcbca0b2ebd5a

[2017-02-04 10:15] #29 closed

[2017-02-04 16:58] cinemast opened #39 "PDF not attached for recurring invoices"
Hi!

I am facing an issue where the PDF is not attached to outgoing e-mails for recurring invoices.
If I resend it manually (even though it is already marked as sent) from the Invoices menu, the PDF gets attached.

I am using the latest self-hosted version with Docker. The local phatonjs setting is activated under E-Mail settings.

Looking at the error log revealed the following:

`
[2017-02-04 09

[2017-02-04 16:58] cinemast commented on #39
Reference https://github.com/invoiceninja/invoiceninja/issues/1327#issuecomment-277431747

[2017-02-04 18:11] hillelcoren commented on #39
What value do you have for APP_URL in the .env file?

[2017-02-04 18:33] cinemast commented on #39
`http://<name_of_the_web_container` it is also reachable through ping from the `cron` container.

[2017-02-04 18:37] hillelcoren commented on #39
In the other issue you wrote "That does remove the error from the log but the PDF is still not attached".

To clarify, with APP_URL set are you still seeing `Failed to create pdf: Invalid URL provided: /view/zPjEACdpQmKIpoOiWt1b35bjUAZhFIJo?phantomjs=true`

[2017-02-04 20:31] cinemast commented on #39
No, the error message is gone with setting the `APP_URL` but the PDF is still not attached to the outgoing mail.

Thanks for your support.

[2017-02-04 20:40] hillelcoren commented on #39
I'm not sure, I think you'll need to debug the code.

You can add `dd($response->getContent());` at the end of app/Libraries/CurlUtils.php to see what's being returned by PhantomJS.

[2017-02-05 08:04] cinemast commented on #39
It a lot of HTML code. I var_dumped the request and response:

[code]

[2017-02-05 08:06] hillelcoren commented on #39
This link looks incorrect: http://crm-web/view/hF6gz61DQsL9G0MKLRFhqt1p204hoJhK?phantomjs=true

Does it work in your browser?

[2017-02-06 10:12] freskimo commented on #34
I'll make a new PR without the rsync.

Which directories contain persistent data?
- logo `app/public/logo`
- log files `app/storage/logs`
- where are the uploaded documents?
- other things i might be missing?

[2017-02-06 10:16] lalop commented on #34
I think the only persistent data are in `app/public/logo` and `app/storage` , @hillelcoren can you confirm this ?
How do you want to do whithout rsync ?

[2017-02-06 10:19] hillelcoren commented on #34
@lalop I believe that's correct.

@freskimo The documents are stored in storage/documents/

[2017-02-06 10:19] hillelcoren commented on #34
Note: it's `storage` rather than `app/storage`

[2017-02-06 10:23] lalop commented on #34
@hillelcoren, this can be confusing but the application is in `/var/www/app` in the docker image here is why I wrote `app/storage` :)

[2017-02-06 10:23] hillelcoren commented on #34
Ah, ok. Gotcha.

[2017-02-06 10:42] freskimo commented on #34
I would replace rsync with cp

[2017-02-06 10:45] lalop commented on #34
humm... I'm doing this for the logo and storage directory not for the public, my bad
https://github.com/invoiceninja/dockerfiles/blob/master/app-entrypoint.sh#L37

[2017-02-07 11:19] freskimo commented on #34
maybe cleaner if it uses symlinks instead of copying all this data.
I'll try something out when I have some time left.

[2017-02-07 12:41] freskimo opened #41 "bad practice .env"
It is considered bad practice placing the .env file in the repo.
It is better to make an example.env and tell the users to copy this file to .env. This reduces the risk of people pushing their passwords on some repo and to make sure no .env variables are pushed, a gitignore file should exclude any .env file.

https://github.com/invoiceninja/dockerfiles/blob/master/example/.env

[2017-02-07 12:52] freskimo opened #42 "Testing db connection in app-entrypoint.sh"
I want to open the discussion:

**why is the db testing mechanism necessary?**

AFAIK It is not the responsibility of the container to check the db connection. Instead the application itself should verify if there is a working db connection. This simplifies the `app-entrypoint.sh` and loses the inaccurate try wait mechanism.

[2017-02-07 13:04] ghhv commented on #31
Hi,
I wish I'd seen this 6 days ago. I too have had this problem trying to move two Ninja installations to a new server under Docker. I couldn't even get a fresh install happening.

After going crazy thinking it was an Nginx/Proxy/Let's Encrypt issue like I'm sure you did, I discovered tonight that the Docker container with the database is not being seeded and nothing works. There's nothing in any

[2017-02-07 13:12] lalop commented on #42
The main reason is because I would like to intialize the database on first launch because the first migration can cause timeout via web request... but I didn't did it yet.

[2017-02-07 13:26] freskimo commented on #42
This should happen in the application and not on the level of container...
I understand the problem but this is not the right approach. The fix is needed in the `invoiceninja/invoiceninja` git repo and not here.

A solution to the problem would be to split up the queries in chunks and run it in a queue.

[2017-02-07 13:27] lalop commented on #42
What is wrong in doing this at the level container ?

[2017-02-07 13:45] freskimo commented on #42
You trying to fix a problem by solving it on a different location. This has a bad smell.
Other people hosting invoice ninja w/o docker have the same problem and this should be addressed in the application itself not on another level.

It is not wrong but docker files & entrypoints should stay as simple/clean as possible w/o too much extras. Offcourse you can add db imports, db backups, healthcheck

[2017-02-07 14:59] freskimo commented on #42
The docker way would be the following:
initially
`docker run --rm invoiceninja/invoiceninja php artisan db:seed --force`
this results in a db seed and when this is finished the container will be removed, then:
`docker run invoiceninja/invoiceninja`
to run the app.

I am working on a better readme and will post it soon.

[2017-02-07 15:17] freskimo commented on #42
Is running db:seed sufficient? Or should migrate also be run?

[2017-02-07 15:26] freskimo commented on #42
Are these the commands that need to be run?
[code]

[2017-02-07 15:32] lalop commented on #42
I think this is all, and for the update
[code]
according to http://docs.invoiceninja.com/en/latest/update.html

[2017-02-07 15:32] hillelcoren commented on #42
Yes, those are the commands needed to initially setup the app.

You can combine the last two: `php artisan migrate --seed`

[2017-02-07 15:35] lalop commented on #42
AFAIK the global seed command should run only once

[2017-02-07 17:07] Hermsi1337 commented on #31
Hey @ghhv

many thanks for your thoughts. But unfortunately the database-container is running very well.
I guess that my problem is located at the network-layer. As soon as I remove the nginx-proxy-network from application-networks, everything's working smoothly.

TBH:
I have absolutely no idea how to solve this one. For me, invoice-ninja is the only image that runs into this error. I will investi

[2017-02-07 23:58] ghhv commented on #31
Doh.. that's a shame.. so weird on my end.

As for your Docker-Compose.YML file, you're missing the      - VIRTUAL_NETWORK= which should be set to ${NGINXPROXYNETWORK} in the WEB container.

Hopefully that fixes it.

Cheers,

[2017-02-08 00:04] ghhv commented on #31
I also have the web port set to something different so that the external proxy port 80 redirects to it. Which will be needed for multiple end points on the same Docker server.

   ports:
      - 8000:8083
    environment:
      - VIRTUAL_NETWORK=xxx
      - VIRTUAL_PORT=8083

The error you're getting normally means something is not listening at the port expected. See how those changes go.

[2017-02-08 05:13] hillelcoren commented on #31
Maybe adding `TRUSTED_PROXIES` to the .env file will help.

http://docs.invoiceninja.com/en/latest/configure.html#using-a-proxy

[2017-02-09 08:40] lalop commented on #42
@hillelcoren, do you think adding an install and update command that groups all the needed one for installing and updating could be a good thing ?

[2017-02-09 08:42] hillelcoren commented on #42
It seems like a good idea to me...

[2017-02-12 23:01] cinemast commented on #39
The link works, yes. This is the name of the proxy container running the webserver.
Could you please try to reproduce this issue?

[2017-02-13 06:14] hillelcoren commented on #39
I'm not seeing this problem, I think the next step would be trying to test the link manually using PhantomJS.

[2017-02-13 09:43] lalop commented on #39
This link works from the container ?

[2017-02-13 22:25] miend opened #45 "app-entrypoint.sh vs entrypoint.sh"
Is there any reason why the `entrypoint.sh` [referenced in the Dockerfile](https://github.com/invoiceninja/dockerfiles/blob/master/Dockerfile#L73) is named differently from the `app-entrypoint.sh` in the repo? Copying in a file of the same name would look cleaner.

[2017-02-13 22:37] silver0a1 opened #46 "Docker run doesn't work. MySQL Connection Refused"
Apertures-iMac:example apsec$ docker run -e APP_ENV='production' -e APP_DEBUG=0 -e APP_URL='http://ninja.dev' -e APP_KEY='SomeRandomStringSomeRandomString' -e APP_CIPHER='AES-256-CBC' -e DB_TYPE='mysql' -e DB_STRICT='false' -e DB_HOST='localhost' -e DB_DATABASE='ninja' -e DB_USERNAME='ninja' -e DB_PASSWORD=‘ninja’ -p '80:80' invoiceninja/invoiceninja
MySQL Connection Error: SQLSTATE[HY000] [2002]

[2017-02-14 08:48] lalop commented on #45
No real good reason.
You may be right. Di you want to make a pr ?

[2017-02-14 08:49] lalop commented on #46
you pass localhost as host but for the container localhost is itself so it can't connect to your database

[2017-02-14 16:37] cinemast commented on #39
Yes, it does. Could this be related to https://github.com/invoiceninja/invoiceninja/issues/1284?

[2017-02-15 18:22] miend commented on #45
Done.

[2017-02-15 20:36] #45 closed

[2017-02-15 20:36] lalop commented on #45
thank you

[2017-02-16 18:48] #6 closed

[2017-02-16 18:50] lalop commented on #42
this is closed by https://github.com/invoiceninja/dockerfiles/commit/c27b04b63ac2b50e9ffe4bb8444af343626fef2e
@hillelcoren I will try to make a pr to invoiceninja project... asap

[2017-02-16 18:50] #42 closed

[2017-02-16 20:15] miend commented on #46
@silver0a1 The easiest way to start running the Docker image provided here would be to copy the `docker-compose.yml`, `nginx.conf`, and `.env` files from the `/example` directory to the repository root directory, and then using Docker Compose (`docker-compose up`) to run them. This will provide containers for the app, mysql, nginx webserver, and cron tasks that are already linked to each other for

[2017-02-16 20:32] lalop commented on #34
I fixed it https://github.com/invoiceninja/dockerfiles/commit/c07242eb1c7231b4c39adb98eef6406bddcf239f

[2017-02-16 20:32] #34 closed

[2017-02-16 20:59] miend commented on #41
I opened PR #48 to address this, pending approval from @lalop.

[2017-02-17 09:25] lalop opened #49 "make an alpine image"
Make an alpine image to have the lightest possible

[2017-02-17 13:11] #46 closed

[2017-02-22 19:12] hillelcoren commented on #39
Are you requiring a password for the contact to access the portal?

We recently added a PHANTOMJS_SECRET option to the .env file, setting it will enable the app to bypass the contact password check.

[2017-02-25 14:54] cinemast commented on #39
I figured out the problem. It is not about the phantomjs_secret.

Our instance is not public reachable, therefore we rely on the built-in phanotmjs implementation.
We have a tls-proxy in front of it with a self-signed CA.

PhatomJS then silently (without any error message) fails to create the PDF. It was rather hard to debug, so hopefully this issue might still be of help to other people using Inv

[2017-02-25 14:54] #39 closed

[2017-02-25 14:57] cinemast commented on #39
In case anybody else needs to fix this, you have to add your CA into the trust-store of your docker host (copy it into `/usr/local/share/ca-certificates` for debian based distos).

The `app` and `cron` container, must mount the trust-store under `/usr/local/share/ca-certificates` directory then invoke `update-ca-certificates --fresh` command from the `entrypoint.sh`.

[2017-02-28 10:50] lalop commented on #31
@Hermsi1337 do you solved your issue ? Can we close this one ?

[2017-02-28 11:48] Hermsi1337 commented on #31
Oh sorry @lalop !!
Yeah, I finally solved it. There was another container named application in my nginx-proxy-network.
I fixed it by adding an alias to the the fpm-php container for default network.

Sorry for not closing this issue!

[2017-02-28 11:48] #31 closed

[2017-04-13 03:32] maxguru opened #50 "Update issues"
I see data migration is commented out: https://github.com/invoiceninja/dockerfiles/blob/master/entrypoint.sh#L34

Is it done anywhere else?  If not, I propose the following added to the docker-compose.yml file,
[code]

I was trying to update from an older version.  I was redirected to `https://billing.xxxxxxxx.xxxxxxxx/update` and got the following exception,
[code]

I was logged in before.  So, I

[2017-04-13 05:26] hillelcoren commented on #50
Not sure about the migration being commented out but I'll check in a fix for the error.

[2017-04-21 08:47] lalop commented on #50
@maxguru I commented it because I can't have a complete solution to do the first installation of the app https://github.com/invoiceninja/dockerfiles/blob/master/entrypoint.sh#L33

I want to add automatic setup and update of database but it's not done yet

[2017-04-21 16:01] lalop opened #51 "activate PHP 7 opcache"

[2017-04-25 09:30] #51 closed

[2017-04-25 10:33] #49 closed

[2017-05-13 23:11] karneaud commented on #50
+1

[2017-05-13 23:18] karneaud commented on #18
+1

[2017-05-13 23:19] karneaud commented on #11
+1

[2017-06-16 22:23] karneaud opened #53 "Bypass setup"
is there anyway to "bypass" the "setup" process when using self hosted docker file installation? Seems that setup would keep overwriting stuff that "undos" my initial docker setup

[2017-06-17 19:17] hillelcoren commented on #53
The setup screen is shown when either:
- The tables haven't been created in the database
- The user/account record hasn't been created

Which values are getting undone, the form should be populated with the current settings.

[2017-06-17 19:41] karneaud commented on #53
then I guess it must be the user account is there anything built in to set this up or do I need to come up with the seed myself?

[2017-06-17 19:45] hillelcoren commented on #53
You can probably modify this seed

https://github.com/invoiceninja/invoiceninja/blob/master/database/seeds/UserTableSeeder.php

[2017-06-17 19:45] karneaud commented on #53
noted!

[2017-06-17 19:45] #53 closed

[2017-06-17 21:36] hillelcoren commented on #53
Can you explain how you're using the app, are you reselling/redistributing it?

The problem with the seeder is the user won't have a chance to accept the application's terms of service.

[2017-06-18 05:10] hillelcoren commented on #53
I believe this may be your question:

https://stackoverflow.com/questions/44604624/creating-app-from-several-sources

I'd suggest reviewing our license to make sure you're in compliance.

https://github.com/invoiceninja/invoiceninja/blob/master/LICENSE

[2017-06-18 10:59] karneaud commented on #53
@hillelcoren it is for personal use( I bought my own license) however I did make a public build pack for hosting on heroku https://github.com/karneaud/invoiceninja-buildpack

Let me know if this is appropriate

[2017-06-18 11:22] hillelcoren commented on #53
Thanks for the clarification!

Your project looks good.

[2017-06-18 11:26] karneaud commented on #53
@hillelcoren thanks! Initially for some reason everytime I updated "my" source code and the rebuilt the project I kept having to go through "setup" process even though I had a persistent database. However, I believe it maybe because I had a script run post build to "force migrate"

I note another funny thing is that the application kept going to "/update" but errors out. I assume it was because I

[2017-06-18 11:28] karneaud commented on #53
@hillelcoren BTW the referenced question was related to trying to develop a build pack/ or template for hosting Openshift. However as you can see I'm stuck as I'm not familiar with openshift at the moment

[2017-06-18 11:33] hillelcoren commented on #53
What error are you seeing when loading /update?

[2017-06-18 11:40] karneaud commented on #53
Here's the thing....when trying to access the site when an earlier version was installed it automatically redirected to /update this kept leading to a 503 Service Unavailable which I'm not sure of because it should have gone to /setup at the time. Now that I am using the latest and already went through the setup everything seems to work. However, I note that going to /update give me the 503 error

[2017-06-18 11:47] hillelcoren commented on #53
I'm not sure, you should only see a 503 error if the app is in maintenance mode.

Are there any details in the logs in storage/logs/laravel-error.log

[2017-06-18 11:53] karneaud commented on #53
there isn't one. if you want to continue his talk on a more personal level I can email u my gmail and we can google chat about it further

[2017-06-18 11:58] hillelcoren commented on #53
Whatever you prefer...

[2017-07-17 09:43] SandroRaV opened #54 "Update Issue from 3.4.1 to 3.4.2"
I was updating from version 3.4.1 to version 3.4.2 with docker-compose stop than docker-compose pull && docker-compose up -d and get an error now when I try to access invoiceninja.

web error: Whoops, looks like something went wrong.

When I start without the -d option in docker-compose I see nothing suspicious.

What can I do?

[2017-07-17 10:26] hillelcoren commented on #54
Are there any details about the error in storage/logs/laravel-error.log

[2017-07-17 10:34] SandroRaV commented on #54
the log shows: [2017-07-17 10:33:33] production.ERROR: ***RuntimeException*** [0] : /var/www/app/bootstrap/cache/compiled.php [Line 7843] => No supported encrypter found. The cipher and / or key length are invalid.  {"context":"PHP","user_id":0,"account_id":0,"user_name":"","method":"GET","url":"https://domain","previous":"https://domian","user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_

[2017-07-17 10:37] hillelcoren commented on #54
From the error the problem is likely related to your value for APP_KEY in the .env file

[2017-07-17 10:39] SandroRaV commented on #54
There is no APP_KEY value in my .env I try to find out if there was any

[2017-07-17 10:40] SandroRaV commented on #54
This file was not changed since months...

[2017-07-17 10:43] hillelcoren commented on #54
Is there a value for APP_CIPHER

[2017-07-17 10:44] SandroRaV commented on #54
There is no value for APP_CIPHER in the .env file

[2017-07-17 10:50] hillelcoren commented on #54
Maybe this will help...

https://github.com/invoiceninja/invoiceninja/issues/1573

[2017-07-17 10:53] SandroRaV commented on #54
Wow adding an APP_KEY to the .env file that is exactly 32 characters long, fixed the issue. Thank you

[2017-07-17 10:54] SandroRaV commented on #54
hm works only for the login page. when i try to login the same happens

[2017-07-17 10:56] hillelcoren commented on #54
Try using `SomeRandomStringSomeRandomString` as the APP_KEY

Note: this is insecure, the APP_KEY should be a random value.

[2017-07-17 11:15] arubacao commented on #54
How did this ever work without a APP_KEY?

[2017-07-17 11:17] arubacao commented on #54
@SandroRaV are you using the `latest` or `3.4.2` docker tag?

[2017-07-17 11:26] SandroRaV commented on #54
@hillelcoren that did not work with the somerandomstrin
@arubacao I am not suer why it did work but it did. Where do I see the docker tag?

[2017-07-17 15:06] arubacao commented on #54
depending on which start command you use.
However your command or docker-compose.yml somewhere includes the image name:
`invoiceninja/invoiceninja`
It is either

1. `invoiceninja/invoiceninja:3.4.2`
2. `invoiceninja/invoiceninja:latest` or `invoiceninja/invoiceninja` (defaults to latest)

[2017-07-17 15:54] SandroRaV commented on #54
it is only invoiceninja/invoiceninja so it defaults to latest. any way to get around this issue?

[2017-07-17 16:40] hillelcoren commented on #54
Have you updated the app before or is this the first time?

[2017-07-17 17:22] SandroRaV commented on #54
Yes, did 5-6 updates with the same procedure and no changes in the .env file and all of them did work

[2017-07-17 19:14] arubacao commented on #54
Try adding to your .env file:
[code]

[2017-07-17 19:17] arubacao commented on #54
Try adding to your .env file:
[code]
and then restart the docker containers

[2017-07-17 19:24] SandroRaV commented on #54
added but still the same issue. I can login but the error stays the same

[2017-07-17 19:47] arubacao commented on #54
Still with the same issue `No supported encrypter found. The cipher and / or key length are invalid. ` ?
Also try:

1. Flush cache
2. Kill the compiled files

At the very least you will get a more detailed call stack

[2017-07-17 20:03] SandroRaV commented on #54
looks like the error has changed:

[2017-07-17 19:50:08] production.ERROR: ***Illuminate\Contracts\Encryption\DecryptException*** [0] : /var/www/app/bootstrap/cache/compiled.php [Line 13310] => The MAC is invalid.  {"context":"PHP","user_id":1,"account_id":1,"user_name":"user ,"method":"POST","url":"https://domain/login","previous":"https://domain/login","user_agent":"Mozilla/5.0 (Macintosh; Intel

[2017-07-17 20:11] arubacao commented on #54
go into the docker image (something like `docker exec -it invoiceninja_whatsoever_1 bash`and execute:
[code]
This removes all cached files

[2017-07-18 10:00] SandroRaV commented on #54
okay that works for one login when I do this and then restart the container I am able to log in once. When I try to do this again I see the same error

[2017-07-18 10:06] hillelcoren commented on #54
Try commenting out these 6 lines of code:

https://github.com/invoiceninja/invoiceninja/blob/master/app/Listeners/HandleUserLoggedIn.php#L67

[2017-07-18 10:13] SandroRaV commented on #54
okay that works until I go for the Online Payment section in settings... When I klick them the same error appears

[2017-07-18 10:23] hillelcoren commented on #54
Thanks, that's helpful to know. It seems likely the APP_KEY value has changed. If it wasn't set initially it should be using the default value. I'm not sure why upgrading caused this problem.

Without the original APP_KEY value the app won't be able to decode the payment gateway settings. If you don't have any billing tokens stored the simplest fix would be to manually mark the data in account_gat

[2017-07-18 10:36] arubacao commented on #54
@hillelcoren i guess this issue comes from my PR #52
The base image is now php7.1 *without* mcrypt instead of php7.0 *with* mcrypt.
Mcrypt was blocking the php upgrade. Laravel doesn't require mcrypt anymore and

I tested everything with my own real data and it worked.
However, I was a bit confused that an APP_KEY was hardcoded into the [Dockerfile](https://github.com/invoiceninja/dockerfiles/blob

[2017-07-18 10:38] SandroRaV commented on #54
I do have tokens in the payment gateway part so I am interested into finding another way then deleting them if possible

[2017-07-18 10:38] arubacao commented on #54
@SandroRaV a quickfix would be to use a tagged version instead of the latest. Also remove the newly added APP_KEY

[2017-07-18 10:39] SandroRaV commented on #54
can I use 3.4.1?

[2017-07-18 10:40] arubacao commented on #54
should work up to `3.4.2`

[2017-07-18 10:43] SandroRaV commented on #54
it looks good with version 3.4.1 now.

[2017-07-18 10:55] hillelcoren commented on #54
I agree using the default is a bad idea but we also can't simply remove it. Please add back the default value so it continues to work for existing users. In our next release we'll create an Artisan command to change the APP_KEY and warn if the app is setup with a default value.

FYI... my understanding is the APP_KEY is used to encrypt session data but not for checking the password on login. The a

[2017-07-18 10:56] SandroRaV commented on #54
so will the next version fix this for me?

[2017-07-18 10:58] hillelcoren commented on #54
You're currently using a default value for the APP_KEY, in the next version we'll try to make it possible to change it, this will improve the app's security.

@arubacao Removing mcrypt may be a problem as well.
@lalop What do you think?

[2017-07-18 11:04] arubacao commented on #54
@hillelcoren I'll create a new PR to revert my breaking PR - after the fix it can be reapplied.

The config file app.php currently looks like this:
[code]
https://github.com/invoiceninja/invoiceninja/blob/master/config/app.php#L85-L87

I think after the fix it should look like this:
[code]
https://github.com/laravel/laravel/blob/5.2/config/app.php#L94-L96

Also no APP_KEY should be hardcoded anywh

[2017-07-18 11:38] hillelcoren commented on #54
Sounds good, thanks!

[2017-07-18 12:26] lalop commented on #54
@SandroRaV The app should work if you use the tag 3.4.2, latest is more advanced. Generally it's better to tag you image and manually update the tag version when you want to make an update to avoid unexpected update on side container, I had some issue updating mysql like  taht ;)

@arubacao why don't just add back  `ENV APP_CIPHER rijndael-128` ?

[2017-07-18 13:02] arubacao commented on #54
If @hillelcoren writes an upgrade command, i'd recommend the default `AES-256-CBC`
It seems like the only 2 supported ciphers are `AES-256-CBC` & `AES-128-CBC` since Laravel 5.1 [link](https://github.com/laravel/framework/blob/5.1/src/Illuminate/Encryption/Encrypter.php#L52).

[2017-07-18 13:05] arubacao commented on #54
This sounds somewhat stupid but maybe mcrypt rijndael-128 == openssl AES-256-CBC

[2017-07-20 07:13] lalop commented on #54
So you have no choice, you will keep php 7.0 for now

[2017-07-25 18:53] hillelcoren commented on #54
I've checked in two changes:
- When logging in the app will check that APP_KEY isn't set to a default value
- Added an Artisan command to update the key and re-encrypt the data

These changes will be included with v3.6, I think it'd be best to wait until v3.7 to re-apply these changes.

[2017-07-25 18:58] hillelcoren commented on #50
I'm not sure the Docker file needs to run `artisan migrate`. When the setup screen is completed the app should automatically initialize the database. It uses a SQL file which is much faster than running the migrations.

[2017-07-25 21:13] arubacao commented on #54
sounds good to me 👍

[2017-07-30 13:36] arubacao commented on #54
@hillelcoren I just came across this repository: https://github.com/laravel/legacy-encrypter

Maybe this helps

[2017-08-17 09:40] lalop commented on #54
Hello @hillelcoren
Your command can't work in a docker environment since the container is in readonly te application can't write to the `.env` file.
Instead the environment variable are real environment variable.
So for now the command output an error

[code]

Maybe the command could simply output the new key in this case and let the user update is variable ?

[2017-08-17 10:38] hillelcoren commented on #54
Thanks for letting me know, I'll take a look

[2017-08-18 06:37] hillelcoren commented on #54
FYI... I've checked in a fix for this.

[2017-08-18 08:52] snics commented on #14
Hi there,

I have the same problem and I set the ```fastcgi_param HTTPS 1;`` but the server does not find the asset.
<img width="841" alt="screen shot 2017-08-18 at 10 44 57" src="https://user-images.githubusercontent.com/8299486/29451295-703afcf2-8402-11e7-90df-e228f0ae2366.png">

What could be the reason for this?

[2017-08-18 08:57] hillelcoren commented on #14
Does the app work without SSL?

[2017-08-18 09:35] snics commented on #14
@hillelcoren  I think so because I set the env variable to ```REQUIRE_HTTPS=true``` and ```APP_URL=https://invoice.domain.xx```. However, I use a rancher with a rancher load balancer and letsencrypt and the load balancer forwarded to a nginx server with fold configs:
[code]
Could that be the problem?

[2017-08-18 09:46] hillelcoren commented on #14
Have you set TRUSTED_PROXIES in the .env file

http://docs.invoiceninja.com/en/latest/configure.html#using-a-proxy

[2017-08-31 23:29] MaximeWillinger opened #56 "A non well formed numeric value encountered"
I'm using this docker image in combination with jwilder/nginx-proxy. Everything looks good but when I try to submit the install form, I get a 500 error.

The only error I get in the logs is `Debugbar exception: A non well formed numeric value encountered [] []`.

I tried a `composer update` but it didn't solve the issue.

Do you have any idea?

**laravel-error.log:**
[code]

**docker-compose.yml:*

[2017-09-01 05:15] hillelcoren commented on #56
Which version of PHP are you using?

I've seen this error with PHP v7.1 but I believe Docker uses v7.0

https://github.com/invoiceninja/dockerfiles/blob/master/Dockerfile#L1

[2017-09-01 10:07] MaximeWillinger commented on #56
PHP 7.0.23. As you can see I'm using the official image.

Could the issue be related to the proxy/custom domain?

[2017-09-01 10:51] hillelcoren commented on #56
I'm not sure, you may be able to hide the error by disabling debug mode as it seems to be related to the Debugbar

[2017-09-20 17:45] MegaphoneJon commented on #29
For others who are receiving this same error: Another potential cause is that you haven't set up your volumes, or you haven't shared your invoiceninja container's volumes with your invoiceninja-cron container.

[2017-10-15 12:52] lalop commented on #56
@MaximeWillinger can we close this issue ?

[2017-10-15 12:57] #54 closed

[2017-10-15 12:58] #41 closed

[2017-10-15 12:58] #50 closed

[2017-10-25 06:15] programster opened #58 "Issues Deploying with Docker"
I'm re-posting this from: https://github.com/invoiceninja/invoiceninja/issues/1718#issuecomment-338502012 as I told this place may be more appropriate.

Hey,
I just wanted to give this tool a whirl and thought the easiest way to deploy it would be with docker. Unfortunately it doesn't appear to be working for me. I just get an "Unable to connect message" in Firefox.

I'm running Ubuntu 16.04.3 wit

[2017-10-25 06:36] hillelcoren commented on #58
The app is handled by the Invoice Ninja team, the Docker file is managed by the community led by @lalop

[2017-10-25 06:40] programster commented on #58
@hillelcoren thats a shame but makes sense. It's fantastic that you have any docker support at all.

Now if we can just figure out what is going wrong with my attempts to deploy the dockerhub image.

[2017-10-25 08:23] lalop commented on #58
hello @programster, I'm affraid the Readme isn't correct.
The invoiceninja is based on an php-fpm image so you will need to use a web server in front of it.
I will correct the Readme but for now the simplest way to give a try to invoiceninja is by using docker-composer as described in exampale

[2017-11-10 21:46] poxon opened #59 "Issue adding initial user/finishing setup"
Hello,

I just cloned this repo and did a docker-compose up in the example folder. Everything installed correctly but I am getting an error after trying to go through setup.

`FatalThrowableError in AccountRepository.php line 66:
Call to a member function filter() on null`

Thank you in advance!

Edit:
whole error: https://pastebin.com/4DFy20S3

[2017-11-11 16:24] hillelcoren commented on #59
I think this is the problem: https://github.com/invoiceninja/invoiceninja/issues/1738

[2017-11-11 18:47] unixfy opened #60 "Can't complete InvoiceNinja setup"
Hi,

I am using InvoiceNinja in conjunction with a Traefik reverse proxy. Everything works properly after `docker-compose up -d` but I cannot complete the setup wizard. When I click Submit, the page loads for several seconds and then gives me error `Call to a member function filter() on null`. Why is this?

[2017-11-11 19:05] hillelcoren commented on #60
I think this is the problem: https://github.com/invoiceninja/invoiceninja/issues/1738

[2017-11-11 19:11] unixfy commented on #60
How can I resolve the issue? I'd like to use InvoiceNinja but this error is holding me back.

[2017-11-11 19:39] hillelcoren commented on #60
You can manually patch the code or wait for the next release

[2017-11-11 20:34] unixfy commented on #60
Hi,

It works after patching the code but I cannot login.

`fopen(/var/www/app/storage/version.txt): failed to open stream: Permission denied`

[2017-11-11 20:40] #60 closed

[2017-11-12 14:47] #59 closed

[2017-12-15 15:13] Mzngit opened #62 "Upgrade"
I am very new to Docker. I had someone originally set up my Docker system.
I've figured out and successfully upgrade from 3.81 to 3.92 by:

1. Saved a backup copy of the mysql subdirectory
2. Stopped and then erased the 3 linked containers (invoiceninja, mysql, nginx)
3. Going into the appropriate parent directory in SSH as root
4. Type "docker-compose up -d" when in the correct parent directory c

[2018-01-14 21:49] lalop commented on #62
@hillelcoren did you change the update process since 3.9.2 ?

[2018-01-14 21:53] #58 closed

[2018-01-14 21:55] #56 closed

[2018-01-15 05:19] hillelcoren commented on #62
Not that I'm aware of. With v4 we updated to Laravel 5.3, maybe it had an impact?

[2018-01-16 01:30] Mzngit commented on #62
Sorry. I also tried the new 4.1 version - same result. Additionally, I modified the docker-compose.yml and .env files to the "new/modified" format and still got the same result.

Sorry for the even more ignorant question but can I do anything with regards to this Laravel 5.3? Is there anything I need to upgrade?

[2018-01-16 06:24] hillelcoren commented on #62
@lalop Are you seeing the same problem?

[2018-01-16 09:13] lalop commented on #62
@hillelcoren I can't reproduce it

@Mzngit what do you see in your docker logs and in storage/logs/ ?

[2018-01-16 20:34] Mzngit commented on #62
Hi,

I started from scratch and installed invoiceninja docker file, mysql, and nginx without a problem.
I tried to log in, and ran into the same expected problem.
The storage/logs subdirectory is empty, but does exist.
The docker container logs are attached.

Thanks again.

[invoice_app_log.xlsx](https://github.com/invoiceninja/dockerfiles/files/1636680/invoice_app_log.xlsx)
[invoice_db_log.xlsx](

[2018-01-16 20:44] lalop commented on #62
@Mzngit I'm not sure but I think that you should at least have files into `storage/logs`
Can you check that php can write in it ?

[2018-01-16 21:49] Mzngit commented on #62
I know that the permissions on the folder is 777. Sorry for my ignorance, but how do I check if php can write in it?

[2018-01-17 08:31] lalop commented on #62
If the folder is in 777 anyone can write in it, all the subfolder and files are in 777 too ?
Maybe you can start invoiceninja in debug mode, see .env for that

[2018-01-17 15:16] Mzngit commented on #62
So all the subfolders are 777. At your suggestion, I put invoiceninja into debug mode, and the storage/logs file comes up with attached file. First file is output on web browser. Second is stacktrace.log.
[Log.txt](https://github.com/invoiceninja/dockerfiles/files/1639449/Log.txt)
[stacktrace.log](https://github.com/invoiceninja/dockerfiles/files/1639452/stacktrace.log)

Essentially, the 3 errors

[2018-01-19 21:15] Mzngit commented on #62
Anyone out there know what any of the above means?
Thanks again.

[2018-01-20 09:36] lalop commented on #62
this seems pretty clear
Invoiceninja can't reach your database

[2018-01-20 23:57] Mzngit commented on #62
Any ideas what I can try to play with to get it to reach the database?

[2018-01-21 04:27] welkie commented on #62
@Mzngit Unfortunately, this depends a lot on how you've got your MySQL database and computer set up. Are you using the recommended example ```docker-compose.yml``` file from this repo? I used it and it worked first time for me. I use Docker on Linux.

[2018-01-21 05:25] Mzngit commented on #62
Yes, using the recommended docker-compose.yml file

[2018-01-22 19:11] Mzngit commented on #62
I just don't understand why even if I move the existing (and working) mysql folder to another location, delete the version 3.9.2 containers, and reinstall the same invoiceninja 3.9.2, mysql, and nginx containers from scratch, it comes up fine. What changed with v4. 0 and higher? That's what I can't seem to get working. Any manual way to link invoiceninja to the mysql database? Any other tweaks or

[2018-01-23 08:54] lalop commented on #62
The issue seems to come more from your docker usage then from invoiceninja

[2018-01-23 14:34] Mzngit commented on #62
Any explanation then why the identical docker-compose, .env, and nginx.conf files work consistently for v3.9.2 but not 4.0?

[2018-01-24 08:55] lalop commented on #62
I can't reproduce your issue so I can't say

[2018-01-24 10:49] hillelcoren commented on #62
Which version of PHP are you using, v4 now requires PHP 7

[2018-01-24 10:50] lalop commented on #62
https://github.com/invoiceninja/dockerfiles/blob/4.0.0/Dockerfile#L1

We are based on php7

[2018-01-25 22:57] nicolas-bonnel opened #63 "Can't complete setup - Problem with version.txt ?"
Hi,

I'm trying to run the service, but I have an error message once finishing the setup phase. I have copied all 3 files in the docker-compose folder, renamed the .env file, and I have added a maildev image. Looking in the logs folder, I have the following error :

[code]
And there is no `version.txt` file in storage folder. Any idea ?

[2018-01-28 16:01] peterkelm commented on #63
Same here.

I am new to both Docker and Invoice Ninja but was able to complete the setup procedure after creating the file "version.txt" in the "storage" directory mapped into the container. "version.txt" only contains the Invoice Ninja version number (4.1.4 in my case).

[2018-01-29 05:05] Mzngit commented on #62
I have PHP5.6 and 7.0 running on server. I shut off v5. 6 in case it was interfering. No luck.
As soon as I change the compose.yml file to invoiceninja:3.9.2, it works fine.
Frustrating.

[2018-01-29 08:49] pierreozoux commented on #63
@nicolas-bonnel could you share the `docker-compose` you are using, or `docker` command you run?

[2018-01-29 08:55] nicolas-bonnel commented on #63
@peterkelm Thanks, this seems to work !

@pierreozoux : I just added a version tag for the invoiceninja image and manually created the version.txt file but here is the docker-compose file :
[code]

[2018-01-29 09:08] lalop commented on #63
@hillelcoren all the storage's permission are fine excepet the version.txt ones.
Can you point me who is creating this file ?

[2018-01-29 09:10] hillelcoren commented on #63
The file is created by the app here:

https://github.com/invoiceninja/invoiceninja/blob/master/app/Http/Middleware/StartupCheck.php#L53

[2018-01-29 09:12] lalop commented on #63
During an http isn't it ?
It can't be created via a command or composer install ?

[2018-01-29 09:12] peterkelm commented on #63
@hillelcoren, as I understand it that piece of code does not handle the situation where there's no version.txt file (yet)...

[2018-01-29 09:17] hillelcoren commented on #63
If the file doesn't exist the versions won't match so the code will create the file.

[2018-01-29 09:25] peterkelm commented on #63
Only if Utils::isNinja() returns false... that is...

[2018-01-29 09:30] hillelcoren commented on #63
Utils::isNinja() means the apps is running in hosted mode, for self host users it will always return false.

[2018-01-29 09:35] lalop commented on #63
I think the issue come from the permissions on the storage folder, is it owned by root ?

[2018-01-29 09:36] nicolas-bonnel commented on #63
Yes
[code]

[2018-01-29 09:37] peterkelm commented on #63
@lalop, I tried various ownership options: root, www-data,... (user names within the container) and the file was never auto-created.

[2018-01-29 09:41] lalop commented on #63
can you try to make www-data owner of the storage folder, restart docker-compose and check the owner into the container (`docker-compose exec app ls -all`)

[2018-01-29 09:44] nicolas-bonnel commented on #63
The owner in the container is `www-data`

[2018-01-29 14:39] peterkelm commented on #63
Same here.

root@ninja:/var/www/app# ls -la storage/
total 4
drwxr-xr-x 1 www-data www-data 100 Jan 28 15:20 .
drwxrwxr-x 1 www-data www-data 626 Jan 28 15:20 ..
drwxrwxr-x 1 www-data www-data   0 Jan 25 14:34 app
drwxrwxr-x 1 www-data www-data   0 Jan 25 14:34 debugbar
drwxrwxr-x 1 www-data www-data  36 Jan 25 14:34 framework
drwxrwxr-x 1 www-data www-data   0 Jan 25 14:34 import
drwxrwxr-x 1 www

[2018-02-07 10:09] xobs opened #65 "APP_CIPHER is set to an invalid default value"
Similar to others, I've run into a problem where the APP_CIPHER is set to an invalid default value.  The Dockerfile sets it to "rijndael-128", when the only valid options are "AES-128-CBC" and "AES-256-CBC".

While it's true the front page documentation says this value should be overridden, it's better to have it fail gracefully when no value is specified.  The existing value should be removed fro

[2018-02-08 21:10] GPConnect opened #66 "issue with nginx conf"
Hello,

tried to run the docker compose files but had an issue with nginx.conf !
Any idea ? Thanks !

ERROR: for app_web_1  Cannot start service web: OCI runtime create failed: container_linux.go:296: starting container process caused "process_linux.go:398: container init caused \"rootfs_linux.go:58: mounting \\\"/var/www/app/nginx.conf\\\" to rootfs \\\"/var/lib/docker/overlay2/f19ad8e20e3b80dcad

[2018-02-09 08:38] lalop commented on #66
hello @GPConnect, did you use the docker-compose.yml present in this repository ?

[2018-02-09 12:10] GPConnect commented on #66
yes !

[2018-02-09 23:54] welkie commented on #66
Literally just had this issue a few days ago when using Docker for my blog, which I implement as a Ghost container behind an Nginx container on a VPS.

In my case, I had accidentally created a directory named "nginx.conf" in my VPS's file system instead of a file called "nginx.conf". When I fixed it, making sure my Nginx config was in that file, and that my docker-compose volume mappings had a fil

[2018-02-11 19:42] Mzngit commented on #62
So I was finally able to install v4.1.3 and it ran but only using http, not https. My original setup (using v3.9)  uses a reverse proxy to go from external https port (e.g. 8001) to http-localhost-8000, and thus invoiceninja works only using https. Using the new v4.1.3, if I delete the reverse proxy, and if I entered http://www.mydomain.com:8000, then it runs perfectly. If I activate the reverse p

[2018-02-14 22:17] welkie commented on #62
@Mzngit I use NGINX as a reverse proxy for my blog, and I remember configuring forced HTTPS in NGINX (not in the app it wrapped).

[2018-02-15 02:22] Mzngit commented on #62
Thanks so much for detailed response. Unfortunately, the first suggestion of including an additional line in the nginx.conf file ("rewrite     ^   https://$server_name$request_uri? permanent;") doesn't work, even if I shut off the reverse proxy and use the direct port. In fact, neither http nor https work. If I remove that line and rebuild the container, then at least http works via direct port.
A

[2018-02-15 06:05] hillelcoren commented on #62
Maybe this will help...

http://docs.invoiceninja.com/en/latest/configure.html#using-a-proxy

[2018-02-15 11:02] Mzngit commented on #62
Thanks for the help. As I mentioned above though, I have the following in my .env file placed there during initial setup:
My .env file has the following line in it:
TRUSTED_PROXIES='10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,0.0.0.0,192.168.0.100,172.19.0.1,172.18.0.1,172.0.0.1'
Problem still there.

[2018-02-18 18:07] GPConnect commented on #66
any help ? no verbose tutorial on how to install invoiceninja with docker ?
All i did was installing docker, docker-compose and nginx ! added docker-compose and env file in /var/www/app directory, modified env file parameters and ran docker-compose up -d dommand !
Thanks

[2018-02-18 19:33] GPConnect commented on #66
Hello, i'm getting this error now
i added some random string to the app_key as mentioned maybe some caracteres are not accepted i don't know ?
Thanks

[18-Feb-2018 19:16:04] NOTICE: fpm is running, pid 1
[18-Feb-2018 19:16:04] NOTICE: ready to handle connections
[18-Feb-2018 19:16:42] WARNING: [pool www] child 9 said into stderr: "[2018-02-18 19:16:42] production.ERROR: ***RuntimeException*** [0]

[2018-02-18 20:24] hillelcoren commented on #66
If you added some chars I'm guessing the key length is now incorrect.

"The only supported ciphers are AES-128-CBC and AES-256-CBC with the correct key lengths."

[2018-02-18 20:51] GPConnect commented on #66
ok thanks ! here another issue !

[18-Feb-2018 20:45:51] NOTICE: fpm is running, pid 1
[18-Feb-2018 20:45:51] NOTICE: ready to handle connections
[18-Feb-2018 20:46:37] WARNING: [pool www] child 9 said into stderr: "[2018-02-18 20:46:37] production.ERROR: ***Doctrine\DBAL\Driver\PDOException*** [1045] : /var/www/app/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php [Line 47] => SQLST

[2018-02-18 21:01] hillelcoren commented on #66
I'd suggest checking the database credentials

[2018-02-18 21:04] GPConnect commented on #66
the /setup get the credentials from the .env file right ?
i retype the same credential and still the same issue !
mysql should only exist as a container right ?
thanks

[2018-02-18 21:14] hillelcoren commented on #66
Do the credentials work from the command line?

I can help with the app but don't have much experience with Docker.

[2018-02-19 15:12] SinoBoeckmann opened #67 "Wrong App URL"
Hey there,
I'm not sure how this can happen but:

I've setup the .env and changed the APP_URL to an normal domain (so no localhost address inside here).
But.. when I run the docker-compose and load the site... all (!) links in the markup are related to to the localhost:<port>/ address (see screenshot below).

**My setup is:**
- This docker-container
- NGINX on the host machine to proxy the localho

[2018-02-19 15:33] hillelcoren commented on #67
The APP_URL value is only used in cases where the site is accessed without a browser. ie, when running artisan console commands.

[2018-02-19 15:35] SinoBoeckmann commented on #67
Okay!
And why is the URL then hardcoded in the markup and not just relative to the domain?

Is there a way to change this? Or at least to change it once to another domain name?

[2018-02-19 15:38] hillelcoren commented on #67
Sorry, I'm not sure how to change this. It's probably related to using a proxy.

[2018-02-19 17:02] SinoBoeckmann commented on #67
So... I got it. Somehow.
I needed to add the following lines to my proxy_pass in nginx (host)

`proxy_redirect off; proxy_set_header Host $Host`

But then I had the problem, that internally in laraval/ symfony the asset-method still get me http links instead of https so unfortunately I needed to change the routes/web.php and add

`if (env('APP_ENV') === 'production') {
    URL::forceSchema('https'

[2018-02-19 17:07] hillelcoren commented on #67
Thanks for sharing the solution!

You can add `REQUIRE_HTTPS=true` to the .env file to require HTTPS

[2018-02-19 17:16] SinoBoeckmann commented on #67
With `REQUIRE_HTTPS=true` I'm getting a "too many redirects".

I'm not sure yet what is redirecting so often. I will have a look into this later!

[2018-02-19 18:00] hillelcoren commented on #67
Maybe this will help:
https://www.invoiceninja.com/forums/topic/ssl-too-many-redirects/#post-8578

Also, you may need to configure the trusted proxies:
http://docs.invoiceninja.com/en/latest/configure.html#using-a-proxy

[2018-02-19 18:00] SinoBoeckmann commented on #67
@hillelcoren
It is this file:44 that causes the redirects... but I'm not sure why and nor I'm that into Symfony/ Laravel to know where Redirect::secure is come form.

https://github.com/invoiceninja/invoiceninja/blob/3cbf29afad95585e9642775d3d1244460e024a9c/app/Http/Middleware/StartupCheck.php

[2018-02-19 18:02] SinoBoeckmann commented on #67
I will have a look into that urls... but beside that. Even when I remove this trigger the internal links are not delivered as https as like ` URL::forceSchema('https');` does!

[2018-02-19 18:11] hillelcoren commented on #67
Yes, that's the relevant code.

Not sure...

[2018-02-20 10:38] lalop commented on #67
hey @SinoBoeckmann maybe you should add your proxy as a  trusted one https://github.com/invoiceninja/invoiceninja/blob/master/.env.example#L36

[2018-02-20 13:51] lalop commented on #65
You are wright, I updated the docker-compose exemple but not the Dockerfile.

@hillelcoren if the dockerfile is built for production first, it's better to remove `APP_KEY` and `APP_CIPHER` not ? I'm speaking about the image built https://github.com/invoiceninja/dockerfiles/blob/master/Dockerfile#L61-L73 not from the invoiceninja configuration
Same thing for the database maybe...

[2018-02-20 13:59] hillelcoren commented on #65
Yes, I think it would be best to remove them.

[2018-02-20 14:01] lalop commented on #65
fixed https://github.com/invoiceninja/dockerfiles/commit/4e5022fcc497510b1c7156ba8ca5d1548815012f

[2018-02-20 14:01] #65 closed

[2018-02-21 20:06] Mzngit commented on #62
So I did more digging and documentation.
HTTP connections work fine via port 8000. HTTPS do not. The first kind suggestion by @welkie of adding a rewrite statement to the nginx.conf file works by forcing http://www.mydomain.com:8000 to https://mydomain.com:8000, but the page still doesn't load, and its as if I entered https://www.mydomain.com:8000 from the get go. By the way, putting REQUIRE HTTPS

[2018-02-21 20:07] Mzngit commented on #62
Sorry - forgot the screenshots for above.
![chrome via https](https://user-images.githubusercontent.com/34576555/36502750-e4eb24ce-1718-11e8-8e9d-3228b3b9837a.jpg)
![ie via http](https://user-images.githubusercontent.com/34576555/36502751-e4fb2de2-1718-11e8-922c-de00c1c931e0.jpg)
![ie via https](https://user-images.githubusercontent.com/34576555/36502752-e50cff40-1718-11e8-9975-f2717e72dfcd.jpg)
!

[2018-02-21 20:24] hillelcoren commented on #62
Maybe this will help... https://github.com/invoiceninja/dockerfiles/issues/67#issuecomment-366751620

[2018-02-22 16:00] Mzngit commented on #62
Shouldn't the system's built-in reverse proxy (https via port 8001 mapped to http port 8000) automatically do all of this? It certainly does it when using invoiceninja v3.9.2.

[2018-02-22 17:06] Mzngit commented on #67
@SinoBoeckmann For those of us who are newbies, where in the nginx.conf file is your line (prox redirect) line get added?
Also, do you think it has any relevance to the problem in issue #62 relating to Upgrade?
Thanks.

[2018-02-27 08:56] SinoBoeckmann commented on #67
@Mzngit This is just a "normal" nginx/ "vhost" configuration:
Here is in full grace:

[code]

Within this config it is working well.
But there are some other issues with this docker repo here and the Dockerfile!

I will open a pull request later this week with some fixes to the system. :)

[2018-02-27 08:57] SinoBoeckmann commented on #67
Ah ... and @lalop. I tried the trusted proxy config as you mentioned. But this wasn't working either.
There is something in this case that I'm missing and I will figure it out! :)

[2018-02-28 16:01] lalop commented on #66
Yes the database configuration is defined in the .env file following the exemple given in this repository.

I will close this issue since it doesn't seem to be an issue with this dockerfile

[2018-02-28 16:01] #66 closed

[2018-02-28 16:08] lalop commented on #63
The issue came from the permission on `storage`, since its owner was `root` `www-data` couldn't write `version.txt` in it, You solved this by manually creating the file

[2018-02-28 16:08] #63 closed

[2018-03-16 00:06] glassbase commented on #39
Hi,

Although this issue is closed, I wanted to post a comment here in hopes that it may help others with this issue.

I had my url set as http://myurl.com in my env file, yet I had my Invoice Ninja portal behind Lets Encrypt+nginx docker and the attachments were not attaching. I could download them fine.

All I had to do was set my url to https:// in env and the attachments attached. Seems weird

[2018-03-16 08:50] lalop commented on #39
THank you for your feedback.
That's interesting, maybe phantomjs dosen't follow redirection...

[2018-03-19 09:44] arr0n commented on #63
Just ran into this myself, i fixed it with;
docker exec -it app_1 chown -hR www-data:www-data /var/www/app/storage
Might be worth making a note of this on the FAQs so effort isn't lost finding the same solution

[2018-03-22 00:24] smholsen opened #68 "DB User Access Denied."
Hi,
First off I am sorry if this is the wrong place to post this, but I am having some issues with the DB setup for running the docker image.
After running the docker image I am trying to test the db connection.
I have added a user 'ninja' and granted privileges as described in the Setup description.
However, when testing the connection I get the following error:
    SQLSTATE[HY000] [1045] Access

[2018-03-22 00:36] smholsen commented on #68
I am not as steady as I might should've been on MySQL and docker, but adding the ninja user with the wildcard @'%' solved the isse. Which I guess makes sense, but is this really required as the application is running on the same server? if so, maybe it should also be part of the setup description?

[2018-04-11 12:40] lalop commented on #68
hey @smholsen
In the docker world containers are linked on an internal network that reflects a normal one, each one has its own ip, they aren't aware of the host.

It seems that your environment's variables aren't set correctly.
Can you share your docker-compose ?

[2018-04-11 12:41] lalop commented on #67
@SinoBoeckmann did you find any  explanation ?

[2018-04-11 12:47] lalop opened #69 "Make this image official"
Make this image official in the docker sense https://docs.docker.com/docker-hub/official_repos/#how-do-i-create-a-new-official-repository

This is mainly a documentation effort I think

[2018-04-15 15:02] Mzngit commented on #62
Tried latest 4.3.1
Still no progress unfortunately.
The Invoice ninja docker log is attached.

I get the following error page when I load the invoice ninja webpage:

Anyone smarter than me have any idea here?
[invninja_app_1.xlsx](https://github.com/invoiceninja/dockerfiles/files/1912979/invninja_app_1.xlsx)

--------------------------------------------------------

Whoops, looks like something we

[2018-04-24 08:45] lalop commented on #69
I did a pr https://github.com/docker-library/official-images/pull/4260 and an other one for documentation for https://github.com/docker-library/docs/pull/1198
As you can the documentation effort was pretty minimal untill now...

Any review is welcome.

[2018-04-24 08:47] lalop commented on #68
I updated the docker-compose exemple to add the DB_DATABASE environment variable.
Can you check that you have this variable correectly setted in your instance ?

[2018-04-24 08:53] lalop commented on #68
cool, so I close this issue

[2018-04-24 08:53] #68 closed

[2018-04-25 09:51] sestegra opened #70 "docker-compose doesn't work for invoiceninja:4.4.0"

[2018-04-25 10:58] lalop commented on #70
Can You provide some details ?

[2018-04-25 15:33] sestegra commented on #70
First, mysql:8 doesn't support user/password by default.
As a result, DB test connection on setup page doesn't work.

Then, data volume for app image needs www-data rights to run:
As a result, impossible to create .env file and then read php files.

[2018-04-26 07:43] lalop commented on #70
Can you please try with the last build and mysql 5 ?

[2018-05-02 14:13] sestegra commented on #70
FIxed

[2018-05-02 14:13] #70 closed

[2018-05-03 15:37] jbzdak opened #71 "Some small documentation issues with this repository"
I have recently used **modified** version of docker compose from this script to succesfully deploy invoice ninja for a client.

However, as a person without PHP experience, i have run into some issues:

1. It appears that ``APP_KEY`` needs to conform to specified format (proper length, etc). It would be usefull to have this information in documentation here;
2. Somehow storage folders had botched

[2018-05-10 07:46] lalop commented on #71
@jbzdak thank you for this comment.

@hillelcoren I'm right If I add in documentation that we can generate a key via the `key:generate` command ?
The complete command for us will be `docker run -e APP_CIPHER='AES-256-CBC' -it --rm invoiceninja/invoiceninja php artisan key:generate --show`

[2018-05-10 07:57] hillelcoren commented on #71
Do users see the /setup screen when they first launch the app?

When the setup form is submitted the app should automatically call key:generate

[2018-05-10 08:05] lalop commented on #71
In docker the environment variable is set via docker so the .env file shouldn't be updated by the app.

[2018-05-13 17:58] lalop commented on #71
Is that necessary to generate de APP_KEY ?

[2018-05-13 17:59] lalop commented on #71
Do you have any complete documentation on this kind of variable to add a link in the Readme ?

[2018-05-13 18:05] hillelcoren commented on #71
Sorry, I'm not sure I understand.

Here's where PHANTOMJS_SECRET is mentioned in the docs: http://docs.invoiceninja.com/en/latest/configure.html#phantomjs

[2018-05-14 08:52] jbzdak commented on #71
I have added a PR that shows what updates would be helpful for me when I was deploying invoice ninja.

[2018-05-15 21:45] nbyloff commented on #39
I am stuck on this issue as well. I am also using docker with [jwilder/nginx-proxy](https://github.com/jwilder/nginx-proxy)

What I have noticed is it hangs when doing wget:

[code]

The IP address it resolves to ap.domain.com is correct. What it looks like I need to do is tell phantomjs to specifically use my internal docker container URL, which is `http://web`. That seems to resolve correctly.

[2018-05-15 22:13] nbyloff commented on #39
I will add, I have tried both

[code]

when I test using `phantomjs resources/test.pjs` with the `http://web` URL, I get contents returned. When using the `https` URL, it timesout.

So I figured setting this in my .env file would work
[code]

But the /test_headless still fails.

[2018-05-16 03:16] hillelcoren commented on #39
Maybe you need to set a value for PHANTOMJS_SECRET in the .env file?

http://docs.invoiceninja.com/en/latest/configure.html#troubleshooting

[2018-05-16 19:07] nbyloff commented on #39
I will add, it works when I login to the app and run the test

[code]

when I run `nslookup invoice.domain.com` from `app`, the IP address is correct. But when I try and run it from production, it times out. Then, I added a hostname to `nginx-proxy`

[code]

Still did not work. SO close!

[2018-05-16 21:44] hillelcoren commented on #39
Glad to hear you got it working, thanks for sharing the solution!

[2018-05-17 07:32] lalop commented on #39
hey @nbyloff I don't understand, what was `https://ap.domain.com` ?

[2018-05-17 13:51] nbyloff commented on #39
@lalop my mistake. Apparently when removing the real domain during my troubleshooting I changed `ap.domain.com` to `invoice.domain.com` half way through. Updated my comments earlier to make it clear.

Here's my complete `docker-compose.yml`. I use a custom rolled letsencrypt container since I want to validate an SSL cert before making any DNS changes but there is a letsencrypt container that works

[2018-05-17 14:07] lalop commented on #39
Good to hear, thank you for your feedback

[2018-05-18 13:10] r3n00 opened #73 "Docker Setup on Unraid not working"
Hello,

I'm currently trying to setup the invoice-ninja docker on my unraid server but it doesn't seem to be working. I do not see any errors in the logs indicating an issue however i'm unable to access the web interface after setting several environmental variables.

Below are screenshots of my current configuration

VOLUME MAPPINGS and PORT FORWARD

![home](https://user-images.githubusercontent.

[2018-05-18 20:05] anojht commented on #73
Hey I tried running this docker on my unraid and ran into similar problems. What is not clear is this docker image has no web server (nginx, etc.) so you need to have a web server that can serve the files.

 I made a ready to run docker image of invoiceninja and keep it up to date, it was a fork of this one: [invoiceninja](https://github.com/anojht/invoiceninja)

Other option is docker compose but

[2018-05-18 21:45] r3n00 commented on #73
Really ? I tried your image and i'm receiving the following exception, "The only supported ciphers are AES-128-CBC and AES-256-CBC with the correct key lengths".

Even though i specified AES-256-CBC. I even tried AES-128-CBC and received the same error.

[2018-05-18 21:45] r3n00 commented on #73
![exception](https://user-images.githubusercontent.com/11279459/40259193-43384b40-5ac3-11e8-9301-493b4bbe1219.PNG)

[2018-05-18 21:47] anojht commented on #73
you APP_KEY needs to be exactly 32 characters long and only comprised of alphanumeric characters. I have it working with AES-256-CBC.

[2018-05-19 14:42] r3n00 commented on #73
I removed the APP_CIPHER variable and now im receiving the below error. I re downloaded the image and setup the docker again and still receiving the below error regardless of the port i use. My HTTP port is 8181 and HTTPS 3443 for this docker. I do not see any errors in the error log

![ssl error](https://user-images.githubusercontent.com/11279459/40269818-3e9381fc-5b51-11e8-9847-d07b320541e9.PNG)

[2018-05-19 17:45] anojht commented on #73
If you want to use invoiceninja locally then you can use http://192.168.5.141:3443 to access it.

If you don't plan on setting up SSL and mapping invoice ninja to a domain then you need to edit your nginx config inside the docker, located at `/etc/nginx/nginx.conf` and remove the following line: `fastcgi_param HTTPS 1;`

By default this docker image is setup for secure settings such as SSL and map

[2018-05-21 20:21] anojht commented on #73
@r3n00 can you close this issue if its been resolved? Any future problems you have with my docker image please open them on my repo.

[2018-05-24 17:40] Mzngit commented on #62
It appears that once the mysql version was downgraded to 5 in the recently - updated .yml file, it seems to be working fine. Please close this issue.

[2018-05-26 07:38] #62 closed

[2018-06-02 09:19] JamesK852 opened #74 "SQL Database Password Error"
Trying to deploy from docker-compose script. Everything goes smoothly until I get to the configuration page and even thought i've set the MYSQL_ROOT_PASSWORD and user password in the .env file I keep getting this error

`  SQLSTATE[HY000] [1045] Access denied for user 'ninja'@'172.26.0.3' (using password: YES)
`
This is the copy of my .env file I'm testing

[code]

Many thanks for the help.

[2018-06-02 09:21] JamesK852 commented on #71
This really helped me as I never used the php key:generate function before.

[2018-06-02 18:17] hillelcoren commented on #74
Have you tried testing the user/pass directly to make sure it can be used to access the database?

[2018-06-04 01:27] JamesK852 commented on #74
Hi @hillelcoren,

I attached directly to invoiceninja_db_1 and the username and password variables I set in the .env do not allow me to access mysql database for both root user and ninja user.

[2018-06-04 01:59] JamesK852 commented on #74
Oops nevermind. My noob mistake, didn't realize the db volume is already being used by another....sorry

[2018-06-04 04:38] hillelcoren commented on #74
Maybe the user needs to be setup as 'ninja'@'%' rather than 'ninja'@'172.26.0.3'

[2018-06-04 13:20] JamesK852 commented on #74
Still no luck. Even the pereodic CRON job throws the same access denied error. Not sure what is causing this.

I noticed these warning through are they normal?
[code]

[2018-06-05 07:19] lalop commented on #74
@JamesK852 I don't see MYSQL_USER and MYSQL_PASSWORD in your env, did you create this user manually from the root user ?

[2018-06-07 01:36] JamesK852 commented on #74
Sorry what is the difference between MYSQL_USER, MYSQL_PASSWORD and DB_USERNAME, DB_PASSWORD?

[2018-06-07 07:30] lalop commented on #74
the DB_* ones are for invoiceninja the MYSQL_* are for mysql

[2018-06-28 04:06] JamesK852 commented on #74
Adding those two to the ENV helped me get passed the setup screen with the user accounts testing successfully however now it just displays

"Whoops, looks like something went wrong."

Some warnings are displayed by docker too

[2018-06-28 06:00] JamesK852 commented on #74
This fixed it

https://github.com/invoiceninja/invoiceninja/issues/1965

Thanks for the help!!

[2018-06-28 06:00] #74 closed

[2018-06-28 07:37] hillelcoren commented on #74
@lalop do you think we should add it to the readme, a number of people have run into the same issue. Or is there a different underlying problem?

[2018-06-28 07:39] lalop commented on #74
I think we can fix it in the entrypoint but I can't find any time to look at the origine of the issue

[2018-06-28 07:47] hillelcoren commented on #74
Ok, no worries. I think just adding it to the readme for now would be a big help.

[2018-06-30 11:06] Harti opened #78 "Trouble adapting to docker-compose 3.6"
I'm using a [reverse proxy](https://github.com/SteveLTN/https-portal) and require this installation to be on the same docker network, so I've got a certain syntax to add to my .yml files which isn't compatible with version 2.0 of docker-compose.
Therefore, I had to adapt the file. Since version 3 deprecated/dropped `volumes_from`, I'm not sure if I did everything right. Presumably not. I suggest y

[2018-07-04 20:15] lalop commented on #78
Invoiceninja need to see some files and/or directories in storage and logo.
Since this folder can be mounted from an empty directory the image contains a backup of this to directory as they are in the project to initialize mounted directory https://github.com/invoiceninja/dockerfiles/blob/master/Dockerfile#L48

For people who want to mount all the app directory you can make this backup in an other

[2018-07-04 20:15] #67 closed

[2018-07-20 20:51] Lindenk opened #79 "Make this turn-key"
Currently the docker image does not host the application and also doesn't run several of its required services periodically. Because of this, setup takes much more time and effort, creates many more points of failure, and requires more manual effort in porting to pretty much any deployment system than it should.

Docker is all about having self contained applications, I propose that invoiceninja s

[2018-07-23 12:49] lalop commented on #79
Hello @Lindenk, I'm not sure to understand your point, do you mean the image should contains it's own database and server application ?

[2018-07-23 13:44] Lindenk commented on #79
Most php apps on docker hub include whatever they need to actually host a webapp, such as a webserver if there isn't a backend as part of the application, or any scripts that need to run periodically. Since this is a php application, the webserver needs to be set up and configured with php support and other custom options. This should be up to the docker image creators, not people trying to use th

[2018-07-23 16:23] welkie commented on #79
@Lindenk
The way it's set up right now in the [example docker-compose.yml file](https://github.com/invoiceninja/dockerfiles/blob/master/docker-compose/docker-compose.yml) is with three containers: app, web, and cron. Since you agree that using a separate container for the database is good practice, are you proposing that those three containers representing the app be merged into one?

[2018-07-23 16:35] Lindenk commented on #79
Yes, exactly!

The current docker compose file expects a custom nginx config specific to invoice ninja so it logically makes  sense to bundle the custom web hosting setup as part of the image. Also, requiring a separate container to run just for cron is just another step everyone using invoice ninja will need to port to whatever deployment system they're using. Since it is a (rather critical) part

[2018-07-23 17:40] welkie commented on #79
@Lindenk I agree with that. From what I've seen before with PHP apps dockerized, they provide an Apache version and an Nginx version if they have the time to support both. Or, they just choose one and that is how the dockerized version of the app is hosted.

[2018-07-24 07:39] lalop commented on #79
@Lindenk unfortunately I don't have enought time to work on an apache version but contributer are really welcome :)
For the cron part, a docker image should be seen has a process executor, since the cron's command can't be run by the web server process it makes sense, for me at least, to manage them in an other container. Can you give me some exemple of official docker image of php application or

[2018-07-24 08:16] schemen commented on #79
I for one are very against everything in one container, it basically goes against what docker is for: One process per container.

What could be done is that a custom nginx container is build from you guys (invoiceninja-nginx) to make it easier. That's what I've actually built here: https://github.com/schemen/docker-ttrss

[2018-07-24 16:12] Lindenk commented on #79
@lalop Just quickly scanning the official docker images, Jenkins, Nextcloud and WordPress are a few php applications that host their own webserver and any other processes that are needed by the program in the same image. In fact, I don't think any official images expect the user to manually setup php specific stuff to run a container. I can make the dockerfile and whatnot. To not break backwards c

[2018-07-24 16:47] welkie commented on #79
@schemen The only issue with multiple layers of Docker images is discoverability. How would people know that there is an image available that consolidates the app and a web server?

[2018-07-24 16:51] schemen commented on #79
@Lindenk It's best practice: https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#dont-install-unnecessary-packages

@welkie With a Readme and a docker-compose file provided in the project I suppose.

[2018-07-24 17:01] Lindenk commented on #79
@schemen Exactly. The best practice is:
[code]

The proposal is to put the few processes needed to run the web application inside the same container. If several custom images would need to be made and linked together for the sole purpose of correctly running one specific web application, doesn't it make more sense to keep them in the same container instead?

[2018-07-24 17:14] schemen commented on #79
@Lindenk PHP & Nginx are different components, it's about containing a task (serving http, resolving php, executing cron). You could argue that you could run it with apache I suppose but that would reduce scalability. You would also be missing those php cron jobs.
Those containers are not much linked as much as on the same network. With docker-compose 3+ you don't have linking anymore really, it a

[2018-07-24 17:34] Lindenk commented on #79
@schemen They aren't different components when you have to specifically modify one for the sole purpose of working with the other. The modified nginx or Apache is not useful for any other purpose other than running with invoice ninja. There will never be a case were this specific nginx is used with any other application and there will never be a case where any more or less than one instance of thi

[2018-07-24 19:06] lalop commented on #79
@Lindenk I know the wordpress and nextcloud image pretty well since I used their work as a base for the invoiceninja's image.
In this 2 exemple, an apache version is provided, this solve the webserver container and we can provide an apache version here as I do for the alpine version.
For cron task, wordpress does them with http request, so this is out of the topic and nextcloud as a good issue  on

[2018-07-24 22:36] Lindenk commented on #79
Alright, that's fair. I think the argument is to have invoiceninja host itself more than keeping a cron task running, since advanced configuration might be required in some scenarios.

I can contribute a pull request for adding a webserver if you'd like.

[2018-07-25 07:11] lalop commented on #79
@Lindenk for sure with pleasure, do you mean an apache version of the image ?

[2018-07-25 15:43] Lindenk commented on #79
@lalop Yeah, or nginx. Whichever you'd prefer

[2018-07-25 16:01] lalop commented on #79
I prefer to keep a phpfpm version and an apache other, no nginx.

[2018-07-25 17:19] anojht commented on #79
I am not sure if this is beneficial to the maintainer. But I have a [fork ](https://github.com/anojht/invoiceninja)of this repo where I have integrated both Nginx and the Cron job into the container. The only thing I left out was the DB since in my view having a separate DB instance is just more beneficial than integrating one. It is ready to run provided you have a db instance already deployed.

[2018-07-29 14:40] lalop commented on #79
@anojht thank you to point to this image but as discussed here we are not looking to maintain an allinone image here.

@Lindenk will you do a pr with the apache version ? Let me know if need some help on it.

[2018-07-29 14:50] Lindenk commented on #79
Ok, I'll put together a PR, I've just been a little busy recently.

[2018-07-29 14:52] lalop commented on #79
don’t worry

[2018-08-01 11:48] ovizii opened #80 "How to add custom omnipay drivers to the docker version?"
I'd like to use this one: https://github.com/mikoweb/omnipay-paypal-plus
The docs say: https://invoice-ninja.readthedocs.io/en/latest/configure.html#omnipay

Unfortunately I don't see how to add this to my docker version without this being lost with newer updates.
Can this somehow be done?

[2018-08-01 11:50] hillelcoren commented on #80
I don't believe it's supported

[2018-08-01 12:36] ovizii commented on #80
hm, thanks. Any chance Paypal Plus can be officially added to invoiceninja without requiring code changes, maybe in a future 4.x version?
here is more information about Paypal Plus: https://www.paypal.com/de/webapps/mpp/paypal-plus

[2018-08-01 12:37] hillelcoren commented on #80
You can create an issue to request it.

[2018-08-01 12:41] ovizii commented on #80
https://github.com/invoiceninja/invoiceninja/issues/2269

[2018-08-01 12:41] #80 closed

[2018-08-07 16:59] Mzngit commented on #79
So there isn't much of a delay between when Hilel posts the newest version on invoiceninja.org and when @lalop creates a new docker image, but there is often a several day delay. I'm a newbie to docker but is there a way to change dockerfile so that when its run it downloads Hilel's latest version?
This probably doesn't make sense, but would it help removing the version number from the following d

[2018-08-08 20:08] lalop commented on #79
@Mzngit I'm working to make this image official to have automatic build when new version are released, Downloading the last version when the container is created is possible but this means the image doesn't contain the application and we can't tag the image like the application.

[2018-08-11 12:58] Hydrog3n opened #81 "Impossible to find the app port entry"
Hi, I try to use your image on my docker system with this docker-compose but nothing work to find the good port or have an real error

[code]

Thank for the help.

[2018-08-24 18:03] Bollznet opened #82 "Update 4.4.0 to 4.5.3"
Hi,
can anyone help me to update invoice ninja without lost my data?
Which commad I must use to update it with SSH?
Thanks

[2018-09-10 16:02] corbolais opened #84 "cannot connect to docker; not listening on port tcp/80 (only tcp6/80)"
Hi,
Thanks for providing a docker file.

As explained in by programster in issue https://github.com/invoiceninja/invoiceninja/issues/1718 there is no way to connect to the nginx instance running inside docker.

Before the issue got closed the IO was asked (https://github.com/invoiceninja/invoiceninja/issues/1718#issuecomment-338502012) to post in this repo.

So far, this issue is still prevailing.

[2018-09-10 16:08] corbolais commented on #84
I read in https://github.com/invoiceninja/dockerfiles/issues/58#issuecomment-339253567 that the README file would be corrected. It is not.

The docker image listens on port tcp/80, tcp6/80 and it seems port 9000. What is this all about?

Also, it is unclear why the docker instance is listening on all those ports and yet the user is to run a webserver in front of it.

Any clarification very welcome

[2018-09-12 20:48] bschulz87 commented on #78
I don't understand what the backup directories are actually for but using named volumes for storage, logo and public directories did the trick without any errors.

[2018-10-02 10:42] LouisParkin opened #86 "php 7.2 issue when trying to export report as PDF"
The issue with PHP 7.2, as logged here https://github.com/mpdf/mpdf/issues/616 afflicts my deployment, and I found that updating the dockerfile to base on php:7.0-fpm resolved the issue.

[2018-10-02 10:44] LouisParkin commented on #86
[code]

[2018-10-06 18:50] lalop commented on #86
@hillelcoren this seems to be fixed in the next version of mpdf, any chance to have an updated of this dependency ?

[2018-10-06 18:54] hillelcoren commented on #86
Yes, we plan to update the library in the next major release.

[2018-10-06 18:54] lalop commented on #84
The image is based on php-fpm, port 9000 is the default port of php-fpm, if you want to use this image directly and not the docker-compose version you have to put a web-server in front of it (like we do in the docker-compose file)

[2018-10-06 18:56] lalop commented on #82
@Bollznet did you mount the volumes as describe in the README ?

[2018-10-06 18:57] #78 closed

[2018-10-07 12:29] Bollznet commented on #82
Hi,
Yes i mount volume like describe in readmi

[2018-11-13 11:53] githubatf2f10 commented on #68
Hi lalop,
I tried dockerfiles  with docker-compose and .env. I modified .env as followings,
MYSQL_DATABASE=ninja
MYSQL_ROOT_PASSWORD=Nfjtyueggeg

APP_DEBUG=0
APP_URL=http://192.168.140.248:8000
APP_KEY=RoFb3WJhgqFNfljyfhshkeshrtfg
APP_CIPHER=AES-256-CBC
DB_USERNAME=ninja
DB_PASSWORD=Roafafafdafasf
DB_HOST=mysql
DB_DATABASE=ninja
MAIL_HOST=box.f2f10.com
MAIL_USERNAME=accounting@f2f10.com
MAIL_PASSW

[2018-11-13 17:37] Mzngit opened #87 "Versioning"
I upgraded to the latest self-hosted release using latest Docker image. There were no issues with the upgraded itself, and the docker container properties revealed that it's indeed the latest version. Unfortunately, when I load up the site, it is showing me the prior version of 4.5.5. Also, the file version.txt is also showing 4.5.5

Thanks.

[2018-11-14 09:33] lalop commented on #87
I can't reproduce it

[code]

Maybe you mount the public directory, isn't it ?

[2018-11-14 09:35] lalop commented on #86
@LouisParkin the last image should fix this, can you confirm that please ?

[2018-11-14 09:54] LouisParkin commented on #86
@lalop would that just entail spinning up a new docker stack on the latest invoiceninja dockerhub image?  Or should I build new docker images based on the latest php7.2 container?

[2018-11-14 09:56] lalop commented on #86
just use the last image from dockerhub

[2018-11-14 09:58] LouisParkin commented on #86
Apologies for being pedantic... invoiceninja/invoiceninja:4.5.6 or invoiceninja/invoiceninja:latest ?

[2018-11-14 10:01] lalop commented on #86
It should be the same but using tag 4.5.6 while force docker to pull the last one

[2018-11-14 10:05] LouisParkin commented on #86
Gimme 20 minutes, I'll verify.

[2018-11-14 10:18] LouisParkin commented on #86
Nope. Not resolved. I do, however, now get a 500 returned, instead of a `Resource not found` error. Log attached.
[error.txt](https://github.com/invoiceninja/dockerfiles/files/2580229/error.txt)
![image](https://user-images.githubusercontent.com/11991882/48476321-68795f80-e807-11e8-8b4e-0cd1638e7d23.png)

[2018-11-14 10:30] LouisParkin commented on #86
Also to be noted, in 4.5.5 with php:7.0-fpm as base container, exporting reports as PDF used to work.  It seems that in 4.5.6, it is now broken (even with php:7.0-fpm as base instead of 7.2), so some change in invoiceninja broke something that wasn't in need of fixing.

[2018-11-14 10:35] LouisParkin commented on #86
I can confirm my previous comment.  I took the same deployment and downgraded back to 4.5.5 on php:7.0-fpm base image, and PDF exporting works once more.

[2018-11-16 13:46] Mzngit commented on #87
I haven't changed the .yml, .env, or the nginx.conf files from the prior updates. The database files/locations are also unchanged. Nothing different was mounted or unmounted.

[2018-11-19 00:41] #87 closed

[2018-11-21 21:31] lalop commented on #86
@hillelcoren are you aware of this error :
[code]

It seems that phpexcell need dompdf to work

[2018-11-22 08:05] hillelcoren commented on #86
Thanks, I'll take a look...

[2018-12-04 06:55] LouisParkin commented on #86
Hi @fredericnaud, these guys are working on it.  My workaround for the issue is to not use PHP 7.2 but PHP 7.0.

[2019-01-07 07:16] hillelcoren commented on #86
This should be fixed in v4.5.8

[2019-01-09 11:50] schliflo commented on #56
Just for documentation sake:
I had the exact same issue with a similar setup.
Changing quotes from
```TRUSTED_PROXIES='10.0.0.0/8,172.16.0.0/12,192.168.0.0/16'```
to
```TRUSTED_PROXIES="10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"```
 did the trick for me :)

[2019-01-09 23:59] Mzngit opened #89 "Upgrade issues"
When I tried to upgrade to v4.5.8, it still has the 4.5.7 image. The invoiceninja/invoiceninja image that it tries to download is apparently on Docker hub (https://hub.docker.com/r/invoiceninja/invoiceninja/tags).
I know of this request in the past, but is there any brief tutorial that you can post on how to build the docker image ourselves directly from invoiceninja.org?
I know of the v4.5.8 imag

[2019-01-10 14:15] lalop commented on #89
hello @Mzngit I updated the repos to the 4.5.8 but I see that this didn't launch a new build on docker hub.
I launch it manually

[2019-01-13 03:00] Mzngit commented on #89
Thanks. Works fine now. I'm presuming the brief tutorial is not an option?

[2019-01-13 14:22] lalop commented on #89
I'm not sure to understand, you want to know how to build the dockerfile in this repository ?

[2019-01-16 12:54] #89 closed

[2019-02-02 00:10] fi0 opened #90 "dokku / portainer"
how do I run this on dokku / portainer?

[2019-03-06 19:50] jamieboy05 opened #92 "Push to 4.5.11"
I keep getting update notifications telling me to update to 4.5.11  The latest version tag for the dockerhub install is 4.5.9.   Are there plans to push an update for 4.5.11 to the dockerfile?

[2019-03-06 19:53] arubacao opened #93 "Auto build for docker hub"
I've noticed that docker hub is not in sync and the last version was tagged over 1 month ago.
https://hub.docker.com/r/invoiceninja/invoiceninja/tags

It would be great if docker builds would be automated.
I've never tried it, but it looks like a 1-click configuration.
https://docs.docker.com/docker-hub/builds/

[2019-03-07 09:06] lalop commented on #93
hum this was configured but it seems that the link between github and docker hub is broken.
@hillelcoren I tried to renew the token, You should have a mail to validate this access I think.

[2019-03-07 09:07] hillelcoren commented on #93
Thanks, I've approved it

[2019-03-07 09:08] lalop commented on #92
the repository is ready for this version but the autobuild is broken https://github.com/invoiceninja/dockerfiles/issues/93
It should be avalaible soon

[2019-03-08 08:55] lalop commented on #92
the 2 tags exist now

[2019-03-12 19:55] LouisParkin commented on #86
I notice the PDF option was removed in v4.5.11... backpedal... I am now building 4.5.10 on php7.0-fpm and that will be as far as I upgrade until v2... or until PDF is put back :-(

[2019-03-12 21:11] hillelcoren commented on #86
It looks like the problem is that the library we're using doesn't support PHP >= 7.1, once it's fixed we'll add the option back.

If you're using PHP 7.0 you can manually add back the option by uncommenting this line:

https://github.com/invoiceninja/invoiceninja/blob/master/resources/views/reports/report_builder.blade.php#L588

[2019-03-13 20:50] spacepluk opened #94 "Kubernetes?"
Did anybody manage to get this running on Kubernetes?
Thanks

[2019-03-13 22:36] Soarnoa opened #95 "Error 404 with traefik"
Hello,

When I start docker up, everything starts fine, up until I try to access the site, and I start getting errors with the css and .js files.

![invoiceninja](https://user-images.githubusercontent.com/16331365/54318403-3d83fa00-45b4-11e9-9116-22be587c3be7.PNG)

Here are the related files:
Docker-compose: https://hastebin.com/dulafazonu.http
nginx.conf: https://hastebin.com/ipadevened.nginx
.en

[2019-03-14 05:59] hillelcoren commented on #95
Maybe this will help?

https://github.com/invoiceninja/dockerfiles/issues/14#issuecomment-241860289

[2019-03-14 15:11] Soarnoa commented on #95
Thanks, but I already have fastcgi_param HTTPS 1 in my nginx config, unless there's something else I'm not noticing in there.

[2019-03-15 13:56] spacepluk commented on #94
This setup is working for me for a very simple deployment:

[code]

[2019-03-16 06:32] Soarnoa commented on #95
Fixed it with the following: docker-compose file. https://hastebin.com/ixeviwowit.http
Added an extra volume for /var/www/app/public and linked them to nginx as well. Also redid my .env file just to make sure, but it's all the same info.

[2019-03-19 02:59] #95 closed

[2019-03-23 21:02] lalop commented on #94
hello @spacepluk
thank you for sharing this.
Do you know how other project manage to add this in their repository ?

[2019-03-24 21:38] ovizii commented on #92
latest still says: Last update: 2 months ago - any new instructions?

[2019-03-25 09:22] lalop commented on #92
I just come to launch a new build https://hub.docker.com/r/invoiceninja/invoiceninja/tags

[2019-03-27 14:03] #94 closed

[2019-03-27 14:03] #92 closed

[2019-03-27 18:59] botzill commented on #94
Hi. Thx @spacepluk for sharing this.

How about creating a helm chart with this? It will be super helpful and easy to install and test.

Thx

[2019-03-27 20:36] spacepluk commented on #94
@lalop sorry I didn't see your message.  Most projects I've seen just drop the yaml files in a [deploy folder](https://github.com/kubernetes/ingress-nginx/tree/master/deploy).

@botzill that's probably a good idea but I've never used helm myself :)

[2019-03-27 20:43] botzill commented on #94
@spacepluk I'm doing some tests now. Will see how this is going and if all is OK, we can deploy one here: https://github.com/helm/charts. Will be good to have a review from you.

Thx.

[2019-04-08 18:41] paoloposo commented on #84
As of early April 2019, the README still doesn't provide a working example to deploy Invoice Ninja.

[2019-04-10 03:10] jacobalberty opened #96 "recurring invoices not sending"
I noticed this months invoices didn't send out, popped in container and artisan is not executable.  I modified my docker-compose cron entry to call /usr/local/bin/php ./artisan instead and it seems to be working fine now. but the default configuration as it is doesn't seem to be working any more

You can confirm this with `docker run --rm -it invoiceninja/invoiceninja:latest ./artisan` you'll get

[2019-05-06 21:34] almereyda commented on #96
It seems the PHP path prefix can be added to

https://github.com/invoiceninja/dockerfiles/blob/e0fcb50ecb0d6b6d920ca1bacdf4c113ba9aad14/docker-compose/docker-compose.yml#L64-L65

and sending of recurring invoices should return to a nominal state?

[2019-05-06 21:57] jacobalberty commented on #96
Yes, that does seem to correct it

[2019-05-08 10:14] lalop commented on #96
We need to make artisan executable

[2019-05-08 10:17] lalop commented on #96
@turbo124 I see you changed the permission on artisan here https://github.com/invoiceninja/invoiceninja/commit/aefe133ba02f28d9fd585ae731765ad5b7cdffe3 from executable to not executable, is there a reason for that ?

[2019-05-08 21:32] glassbase commented on #96
Just noticed this too when my customer called and said they aren't receiving my invoices for my monthly services. Now I will have to explain to all my customers that for 2 or 3 months you did not get my monthly services invoices, please pay up

[2019-05-08 22:12] glassbase commented on #96
Not to mention, why can't it be smart enough to know it missed sending a previous reoccurring and create multiple reoccurring invoices.

[2019-05-08 22:45] turbo124 commented on #96
@lalop the directory and file permission were set recursively to best practice which is 755 for directories and 644 for files.

[2019-05-08 22:52] turbo124 commented on #96
apologies for the oversight, this has been fixed #2827

[2019-05-09 09:19] lalop commented on #96
:+1: thank you

[2019-05-27 18:41] #93 closed

[2019-05-27 18:43] lalop commented on #86
@hillelcoren any news on this point ?

[2019-05-28 05:48] hillelcoren commented on #86
No, I don't think it's likely we'll be able to reenable this in v1.

[2019-06-07 22:47] nordge1 opened #97 "Cannot pass setup screen"
I have been hitting my head against the desk for long enough now I need to ask for help :-)
I have cloned the repo and installed per the instructions.
I am using docker-compose and the containers come up fine. I go to http://server-ip:8000/setup and the screen is present.
I change the database name to db and test it with success, fill in my user info, accept conditions at the bottom and submit.

I

[2019-06-07 22:57] nordge1 commented on #97
I solved it

I noticed I needed to change the DB_HOST to db.
Also needed an APP_KEY

Thanks

[2019-06-07 22:57] #97 closed

[2019-06-07 23:05] nordge1 opened #98 "Change location of persistent data storage"
Using the stock docker-compose.yml, is there a way to change the persistent data storage to be located a defined folder?  In other words is there a way to define the location of the Volumes at the top of the yml?

[code]

[2019-06-09 11:29] alexanderadam opened #99 "Don't run InvoiceNinja as root user"
It would be nice if the Dockerfiles would use non privileged users instead of root where possible.

For example [like described here](https://medium.com/@mccode/processes-in-containers-should-not-run-as-root-2feae3f0df3b).

[2019-06-09 13:20] alexanderadam opened #100 "`DB_TYPE='mysql'` can probably be removed"
If I see this correctly, [InvoiceNinja supports **only** MySQL/MariaDB](https://github.com/invoiceninja/invoiceninja/issues/499#issuecomment-211003238) ([1](https://github.com/invoiceninja/invoiceninja/issues/1833#issuecomment-359190052), [2](https://github.com/invoiceninja/invoiceninja/issues/499#issuecomment-211003238), [3](https://github.com/invoiceninja/invoiceninja/issues/2680#issuecomment-46

[2019-06-10 17:39] nordge1 opened #101 "Unable to upload image for expenses"
I am thinking this may be a permissions issue but thought I would get some advise.

Under expenses, I am unable to either drop and drop or browse upload an image of the receipt. After I try and upload I get a brief 1mb upload in the upload section then nothing, If I try and save the expense. It says please wait fro the upload to complete.

Any help would be greatly appreciated.

[2019-06-11 04:57] hillelcoren commented on #101
Maybe it's related to the file size, do smaller images work?

Are there any error details in storage/logs/laravel-error.log

[2019-06-11 09:26] alexanderadam opened #102 "alpine image: `Class LaravelCrawlerDetect does not exist`"
I'm trying to setup InvoiceNinja with Docker (`invoiceninja:alpine` to be more specific) but I'm running in to this exception instead:

![Screenshot_20190611_110526](https://user-images.githubusercontent.com/372620/59258752-d7e9ed00-8c38-11e9-8221-96b6d46c0439.png)

I found [this forum thread](https://www.invoiceninja.com/forums/topic/class-laravelcrawlerdetect-does-not-exist/) but the hints in it

[2019-06-25 11:55] LouisParkin commented on #86
@hillelcoren apologies for using this ticket to ask a question not related to this ticket.  Is there a way for me to contact you directly?  I have questions about the REST API on invoiceninja.

[2019-06-25 11:55] LouisParkin commented on #86
Can I close this ticket then?

[2019-07-22 21:58] Mzngit opened #104 "Update to latest version (4.5.14) not propagated on hub.docker.com"
Any way to automate this, or does it have to be manual for every update?
Thanks.

[2019-07-23 07:33] lalop commented on #104
it should be automated when the tag is created, I think the issue is on the docker hub since the alpine tag was created https://hub.docker.com/r/invoiceninja/invoiceninja/tags

[2019-07-23 07:33] lalop commented on #104
I will forced it for now
There is an other issue to make this image official https://github.com/invoiceninja/dockerfiles/issues/69

[2019-07-23 08:59] lalop commented on #104
it was linked to this https://github.com/docker-library/php/issues/865https://github.com/docker-library/php/issues/865
it's fixed now

[2019-07-23 08:59] #104 closed

[2019-08-03 10:04] bryanhonof opened #105 "docker-compose web page not responding"
Hello,

I have a little problem with setting up a self-hosted solution for invoiceninja with docker-compose.

## Problem Description

When I run ```docker-compose up``` everything seems to pass fine without any errors or weird messages but when I try to access the web page on ```localhost:8000``` I get no response (it just keeps loading).
I also tried running ```docker system prune && docker volum

[2019-08-10 11:50] Antipov-Anton commented on #94
@botzill What about helm chart for invoiceNinja, you planned to realise? I just research is any chart already available.

[2019-08-30 08:51] ravigupta-art opened #107 "'how to import a mysqldump' in docker-compose instance of invoiceninja."
Referring to the issue here: https://github.com/invoiceninja/invoiceninja/issues/2942

How do I import the 'mysqldump' in docker-compose installation?

[2019-08-30 12:15] ravigupta-art opened #108 "Add support for ARMv7 (raspberry pi 4)"
Currently the invoiceninja/dockerfiles installation is not possible on raspberry pi 4 (ARMv7).
The reason is that there is no image named 'mysql:5' to pull from the dockerhub for ARMv7.

This variable is set in the docker-compose.yml file as:
`services:`
 ` db:`
`    image: mysql:5`

If I make the changes as:
`    image: armv7/armhf-mysql:5.5`
On doing so, the image is pulled but the app which is

[2019-09-02 14:08] ellis commented on #95
@Soarnoa Could you please post the docker-compose file here?  The "hastebin" link is empty, and I'd love to see how you got it working!

[2019-09-08 06:05] Soarnoa commented on #95
Sorry, here it is.

Docker-compose: https://pastebin.com/yNjyARid
.env: https://pastebin.com/AAQ4PkPF

[2019-09-08 23:17] ellis commented on #95
Thanks, @Soarnoa, your files helped me get it running!

[2019-09-18 04:22] grahamPegNetwork commented on #98
I would like to know this as well. I am familiar with mounting volumes for specific services but have yet to run across a dockerfile that defines the volumes in this manner. Googling for syntax has also left me without any helpful results.

@nordge1 I am unsure if this will complicate anything, but I ended up removing the volumes block at the top and manually defined each volume inside each servic

[2019-09-18 09:37] lalop commented on #98
please refer to the docker-compose documentation https://docs.docker.com/compose/compose-file/#volume-configuration-reference

[2019-09-18 09:37] #98 closed

[2019-09-18 09:39] lalop commented on #108
I don't use this kind of hardware, do you know what kind of changes sould be applied ?
We are open to pr by the way

[2019-09-18 09:44] lalop commented on #107
This depend of your database image, if you use the official mysql image please refer to its documentation https://hub.docker.com/_/mysql/
The "Initializing a fresh instance" should help

[2019-09-18 09:44] lalop commented on #107
I close this issue since it's not related to invoiceninja dockerfile

[2019-09-18 09:44] #107 closed

[2019-09-18 13:53] lalop commented on #100
:D
this is a really good point but this has to be changed in the app I think.
@hillelcoren dosn't `mysql` should be wrote directly here https://github.com/invoiceninja/invoiceninja/blob/master/config/database.php#L29 ?

[2019-09-18 13:59] hillelcoren commented on #100
Not sure I follow, the code looks correct to me. The default is MySQL but can be overwritten by setting a value in the .env file.

[2019-09-18 13:59] lalop commented on #90
@fi0 did you find a way of making it run ?

[2019-09-18 14:15] lalop commented on #100
ok so this comment isn't up to date https://github.com/invoiceninja/invoiceninja/issues/499

[2019-09-18 14:56] hillelcoren commented on #100
Sorry, I didn't understand. v1 will only support MySQL, @turbo124 thoughts on v2?

[2019-09-18 21:03] grahamPegNetwork commented on #71
This issue is over a year old, from what I can see it is impossible to get the docker file running without these instructions, please update the README with full instructions on how to get them running.

[2019-09-18 21:47] turbo124 commented on #100
@hillelcoren the aim for V2 will be to support all native laravel DB drivers.

[2019-09-19 07:34] lalop commented on #100
ok but for v1 this variable is useless, maybe you can remove it ?

[2019-09-19 12:18] arthurlogilab opened #109 "Upgrade from stretch to buster for the Dockerfile"
Debian buster has been release, it might be a good idea to migrate to debian buster in place of stretch.

[2019-09-19 13:08] lalop commented on #109
we use strech cause of freetype issue, I don't know if this is fixed.

[2019-09-20 10:58] hillelcoren commented on #100
I have a feeling that will break things...

[2019-09-20 12:18] lalop commented on #100
I was misunderstanding DB_TYPE, it's not the database driver it's the default database connection for a multi-database setup.
So this env is usefull in some case I image although I don't know this kind of setup.

[2019-09-20 12:23] ravigupta-art commented on #108
Hi. Yes, I was able to get it working on the particular hardware. I will be youtube video about this, I hope this might help someone who wants to get it working on the particular hardware.

I believe Invoiceninja and Raspberry Pi 4b would be perfect match for anyone who is willing to install Invoiceninja on a local machine.

[2019-09-20 12:25] lalop commented on #108
this sounds good.
Did you have to update Dockerfile or docker-compose.yaml for that ?

[2019-09-20 12:43] ravigupta-art commented on #108
yes, just the docker-compose.yaml file I think. I will write the complete steps soon. Also, I will send in the pull request with the changes I made. The community review would help in approving the changes.

[2019-10-02 06:27] alexanderadam commented on #100
Okay, nevermind. I will close this then if removing the need of an environment variable that has no function would break things.

[2019-10-02 06:27] #100 closed

[2019-10-11 02:58] Mzngit opened #110 "Versioning problem"
The latest version tag appears to be incorrect. Also, the version in the docker file is 4.5.14,which is the prior version.
Thanks.

[2019-10-11 11:55] lalop commented on #110
oups good point, my mistake.
Thank you

[2019-10-11 11:55] #110 closed

[2019-10-16 23:15] Mzngit commented on #110
Sorry but after upgrade to invoiceninja/invoiceninja:latest, Docker container ENV variables is correct, stating version 4.5.15
However, the version on the bottom of the actual app once loaded via the web still reads 4.5.14.

[2019-10-20 02:33] Mzngit opened #112 "Versioning issues"
Sorry again but after upgrade to invoiceninja/invoiceninja:latest, Docker container ENV variables is correct, stating version 4.5.15
However, the version on the bottom of the actual app once loaded via the web still reads 4.5.14.
Thanks.

[2019-10-20 05:34] gknoop commented on #84
Yeah, I've been having crazy amounts of trouble setting this up with Docker-compose and Traefik. Been going off of cursory searches for issues and a lone Reddit comment, but I still can't get it working beyond the setup screen.

[2019-10-22 18:25] ghost opened #113 "Issue Defining Volume Variables"
When I define the paths to my volumes at the top of the file I get this error after running `docker-compose up -d`

`In file './docker-compose.yml', volume must be a mapping, not a string.`

[2019-10-26 08:40] anojht commented on #112
Hello I noticed the same thing. When I investigated it turns out the download URL regardless of version specified only downloads the 4.5.14.zip file as I believe that URL has not had the latest version uploaded yet. `https://download.invoiceninja.com/ninja-v${INVOICENINJA_VERSION}.zip`

Even if you visit [invoiceninja.org](https://www.invoiceninja.org/) the big green download button says 4.5.14. @

[2019-10-26 16:03] hillelcoren commented on #112
v4.5.15 has not yet been released as a self host zip, release are first made available on GitHub.

[2019-10-26 20:26] anojht commented on #112
I see thanks. Would there be any issues if I switched to the Github release URL for the container I maintain for invoiceninja? I am just wondering what is the best possible way to offer the latest release to the public.

[2019-10-26 20:31] hillelcoren commented on #112
I'd advise against it, we wait to ensure stability before creating the self host zip.

[2019-10-26 20:34] anojht commented on #112
Understood. I will wait, again thanks for continuing to maintain an open source project for a really great piece of software!

[2019-11-03 19:49] emorydunn commented on #112
I'm running into the same issue, even now that 4.5.16 has been released. It looks like because the image was built before 4.5.16 was available the image actually has 4.5.14. Can the image be re-built so it pulls the latest download?

[2019-11-04 18:14] lalop commented on #112
there is a new tag, this one use the last release

[2019-11-18 13:58] MayNiklas commented on #113
Did you found a fix?
How looks your .yml file?
I'm really trying to get it to work while also mounting the storage paths into my hosts folder...

[2019-12-09 20:16] dottgonzo opened #115 "add a stack file for docker swarm"
Hi,

this is the first time i test this app.

My favourite orchestrator flavour is docker swarm, so i try to convert the compose file into a stack file.

Starting with the basic "usage" on the README.md file (right on this repo), i see:
[code]

so i has converted it as stack file:

[code]
(here i'm using traefik as proxy, but only as transparent proxy to resolve the app url)
it simply not works.

[2019-12-18 10:55] lalop commented on #69
Since a rebranding is on the way this issue doesn't make sense anymore

[2019-12-18 10:55] #69 closed

[2019-12-21 05:55] JOduMonT opened #117 "inconsistent"
in your Usage section
https://github.com/invoiceninja/dockerfiles#usage
is mentioned   -p '80:80' such as is the image was able to handle web query via apache or nginx while it is cleary only a PHP-FPM container
https://github.com/invoiceninja/dockerfiles/blob/master/Dockerfile#L86

[2019-12-22 16:51] #117 closed

[2020-01-08 11:38] hbadran83 commented on #58
cannot save or send a proposal or invoice .. i have an error message: "could not save invoice"

[2020-01-08 14:44] hillelcoren commented on #58
I suggest posting to the support forum:

https://www.invoiceninja.com/forums/forum/support/

It'd be helpful if you could check for any related errors in the web server error logs and storage/logs/laravel-error.log

[2020-01-08 18:22] smcpeck opened #119 "Dockerfile doesn't copy things over properly"
Trying to use the docker image, but can't get things to populate the `/var/www/app/` directory properly.

It looks, to me, that the following line in the Dockerfile: `&& mv /var/www/ninja /var/www/app  \` should actually be `&& mv /var/www/ninja/* /var/www/app  \` as the way it currently is just results in a folder being created as `/var/www/app/ninja`.

Happy to do a PR and fix this, but just wan

[2020-01-08 19:44] lalop commented on #119
If you run `docker run --rm invoiceninja/invoiceninja ls -all /var/www/app` you only see a folder ninja ?

[2020-01-24 02:09] AustinSaintAubin opened #120 "How to preform a SQL Backups from outside of DB Docker container"
Create a cron job on your host to make regular backups of your DB independent of your docker container. This is just one way yo backup your DB.
This simple script will also remove old backups.

[code]

[2020-01-24 02:09] #120 closed

[2020-01-27 05:31] smcpeck commented on #119
Well, the Dockerfile cleans up after itself further down, so it's unclear what's going on exactly.  I've moved to a custom/generic php container to just run the code from a bind mount, so I've gotten passed this issue, but feel it is probably a stumbling block still with the official image out of the box.

[2020-02-01 11:56] pbodymind opened #121 "wont work."
[code]

[2020-02-01 11:57] #121 closed

[2020-02-11 18:14] mikebakke opened #122 "Only see NGINX default page after docker-compose up"
I am certain I'm misunderstanding where and how to put the nginx.conf file. Because I already had NGINX installed on my host I created a directory /root/invoiceninja/nginx.conf.d and put nginx.conf into that. I then changed the docker-compose.yml to read:
- ./nginx.conf:/root/invoiceninja/nginx.conf.d:ro

All containers start and :8000 is there but only shows "NGINX is installed" - I'm assuming th

[2020-02-12 21:26] mikebakke commented on #122
Installed vanilla fashion without docker

[2020-02-12 21:26] #122 closed

[2020-02-13 02:16] UntouchedWagons opened #123 "What's the purpose of APP_KEY?"
Document this stuff please.

[2020-02-13 05:02] hillelcoren commented on #123
https://tighten.co/blog/app-key-and-you

[2020-02-24 15:50] rouja commented on #94
Hi,

I just create a helm chart to deploy invoice-ninja on kubernetes. You can find it [here](https://github.com/rouja/invoice-chart). I discovered invoice-ninja few days ago so probably some features are not working. I need feedbacks to improve the chart. So if someone is interested, please feel free to create issues on the repo.

Thx.

[2020-02-25 09:32] lalop commented on #94
Hello, I can't manage the kubernetes part of invoice ninja, but if some of you are okay for maintaining it we may add an official chart to this repos

[2020-03-18 12:50] lonix1 opened #124 "[Question] Purpose of phantomjs"
The readme says the alpine image doesn't work with phantomjs.

I assume phantomjs is used during testing, etc. I'm not building from source or doing any custom development - I just want to spin up the image and use it.

Is phantomjs needed in my use case?

(I'd like to use the alpine image if possible, as it's much "lighter" on a small server.)

[2020-03-18 17:10] lonix1 opened #125 "[Feature Request] Improve security by using docker secrets"
Please support "docker secrets" for passwords, API, keys, secrets, etc. Most major apps (and all databases) support this.

So instead of this:
[code]

We can do this:
[code]

This is more secure. Most secure database deployments do it like this, so invoiceninja is the weak link in the chain (as we need to put the password in plaintext).

Here are [the docs](https://docs.docker.com/compose/compose-

[2020-03-19 10:36] lonix1 opened #126 "[Bug] Alpine image doesn't set ownership for /var/www/app/"
I struggled to get the alpine image to start. I discovered it does not set ownership for the files.

This is in the [debian image](https://github.com/invoiceninja/dockerfiles/blob/4.5.17/Dockerfile#L67):
[code]

The [alpine image](https://github.com/invoiceninja/dockerfiles/blob/4.5.17/alpine/Dockerfile#L49) is missing that line.

Also, surely it would be better to do this: `chown -R www-data:www-

[2020-03-19 16:58] lonix1 commented on #126
Until this is resolved, here is my workaround for those who need it:

[code]

This hijacks the entrypoint - sets ownership and permissions (including gid bit), then runs original entrypoint.

Only note that this is very slow, takes about half a minute to start the image, so don't be alarmed. But restarting a container doesn't happen every day.

[2020-03-19 17:18] lonix1 commented on #124
I have discovered that it's needed for generating PDFs.

@lalop I wonder why ghostscript is not used instead? It's more robust and works on every platform (I think also alpine).

Most importantly: phantomjs was abandoned in 2018. 😢

[2020-03-19 19:38] #124 closed

[2020-03-20 08:22] lalop commented on #124
This is a legacy dependency and should be removed on invoiceninja 2

[2020-03-20 08:23] lalop commented on #126
@lonix1 can you make a pr with a definitive fix ?

[2020-03-20 08:36] lonix1 commented on #124
That is really nice to know. Getting it to work is not fun or easy.

[2020-03-20 08:40] lonix1 commented on #126
This workaround works. But, I also tried the debian image and had the same problem (and used the same workaround). So maybe I have an underlying problem with my environment / config.

However... if someone else has this ownership/permission problem then my workaround is good.

What I would like to know... is it enough to change `/var/www/app/`? I see you set many directories individually - why not

[2020-03-20 16:03] lonix1 opened #127 "[Question] Backup guidance"
Hi @lalop please tell me if you agree with this procedure for backup, restore and update?

backup:
- make a sql dump
- copy files from docker volumes (but which ones - just `/var/www/app/public/`?)

restore:
- create new database container, seed it with the sql dump
- copy/overwrite files to docker volumes, and set owner (`www-root:www-root``) and permissions

update:
- update image version number

[2020-03-22 10:37] lonix1 commented on #127
Based on @turbo124's help in https://github.com/invoiceninja/invoiceninja/issues/3513, we need to do this:

backup:
- `/var/www/app/storage/documents/`
- `/var/www/app/public/logo/`
- database dump
- configuration files: `.env`, `docker-compose.yml`, various php config files (if applicable)
- do NOT include anything else - everything else is automatically generated by the app

restore:
- seed data

[2020-03-22 11:36] danielgroen opened #128 "Invoice Design not showing in Firefox"
I am on Version v4.5.17 of Invoice Ninja and on my Firefox browser the invoice design window is greyed out: see screenshot below. Altough on Google Chrome it does work.
_(The JS console does not show any errors)._

My Firefox version is 74.0.

![image](https://user-images.githubusercontent.com/6578052/77248416-7f209980-6c39-11ea-84ab-ff5d8a035b79.png)

[2020-03-22 11:39] hillelcoren commented on #128
https://support.mozilla.org/en-US/questions/985483

[2020-03-22 12:24] lonix1 opened #129 "Problematic configuration"
The docker stack's configuration 1) prevents upgrades and 2) restoration of backups.

**BACKGROUND:**
The docs (in this repo, on the docs site, on dockerhub) recommends the following volumes for the app, nginx and cron containers:
- `/var/www/app/public/`
- `/var/www/app/public/logo/`
- `/var/www/app/storage/`

**PROBLEM 1:**
Based on https://github.com/invoiceninja/dockerfiles/issues/127, the onl

[2020-03-22 13:15] lonix1 commented on #129
On second thought, this is much more complicated! 😆

In order for nginx/apache to have access to the files, we must give it access to `/var/www/app/public/` and `/var/www/app/storage/documents/`.

Which means we must expose `/var/www/app/public/` on the app container.

And that means we are persisting the app's files - which will cause problems during upgrades and backup restorations.

So in summa

[2020-03-22 17:26] #128 closed

[2020-03-22 17:27] danielgroen commented on #128
Thanks!

[2020-03-25 08:53] danielgroen opened #130 "Email settings (SMTP) can't be changed"
Hi,

When i am trying to change my email settings to my own email settings and hitting the save button, the page reloads and everything in the emailsettings form on `/settings/system_settings` does change back to it's old state. See below the form field where i am talking about.

Although when i change everything to my server and send a testmail, it got delivered so the functionalities does work,

[2020-03-25 08:55] hillelcoren commented on #130
You can manually modify the .env file instead of using the UI

[2020-03-25 09:58] danielgroen commented on #130
Ah Thank you.

I now see that i just copied the .env.example with all the standard MAIL parameters.

Is it an idea to or:
-  Have the MAIL parameters in the .env.example but commented out
-  Have the fields that are overritten by the .env file grayed out in the UI

I also saw that there is no .gitignore in the repo that ignores the .env file, but maybe that is an unnecessary rfc because nobody can

[2020-03-25 10:00] hillelcoren commented on #130
I think this may be an issue related to running the app using Docker which is preventing it from being able to update the .env file

[2020-03-25 10:34] #130 closed

[2020-03-30 07:39] publicarray opened #131 "Volume does not what the comment says it does"
TL:DR I propose to remove the Volume statment

https://github.com/invoiceninja/dockerfiles/blob/9060027999eea89ca5afc393a0c35e8e295a4db3/Dockerfile#L78-L79

This creates a new volume for persistence.

I wanted to create a volume one folder up `/var/www/app/` but it took me longer than I like to admit to find out why the `/var/www/app/public` was empty in the other container. The `/var/www/app/publ

[2020-03-30 08:46] lalop commented on #131
Isn't this required to mount the public folder into the web container https://github.com/invoiceninja/dockerfiles/blob/master/docker-compose/docker-compose.yml

[2020-03-30 08:50] publicarray commented on #131
Since you don't know my setup how do you know what is required? At the moment I use openlitespeed in a container to execute the php scripts so It needs access to the vendor folder. in the future I want to migrate and use openlitespeed more as a proxy and use FastCGI

[2020-03-30 11:45] lalop commented on #131
I don't know openlitespeed, anyway this image is build to handle the most common use case

[2020-03-30 15:15] publicarray commented on #131
Removing the line will have no impact to the common use case as they should already create a volume for app/public so that is a named volume to share the folder with a reverse proxy.
A discussion on when or when not to use VOLUME: https://stackoverflow.com/questions/41935435/understanding-volume-instruction-in-dockerfile#41935728
I argue this is not the correct use case unless there are user files

[2020-03-31 07:48] lalop commented on #131
Public hasn't to be a volume in common use case, only the upload folder i think

[2020-04-02 19:23] danielgroen opened #132 "Migration of the next version of Invoice ninja crashes"
Hi,

When i (self hosted) want start the migration of Invoice Ninja, an error occurs.
Currently i am on 4.5.18.

When i trigger the "start migration" button on /settings/account_management it crashes and i'll get the following message:

![image](https://user-images.githubusercontent.com/6578052/78292994-2e0d8100-7528-11ea-981b-650c8c567e3f.png)

Any idea what is going wrong?

[2020-04-03 14:58] danielgroen opened #133 "The buy now buttons won't add"
Hi,

When i want to add "Buy now buttons", and hit the save button, nothing appears. is there any known issue for this.

![image](https://user-images.githubusercontent.com/6578052/78374882-518a0780-75cc-11ea-9e44-7f8118ae708f.png)

[2020-04-03 15:00] hillelcoren commented on #133
You need to copy/paste the link, the app generates them it doesn't save them

[2020-04-03 15:10] danielgroen commented on #133
Okay, well i thought you could add "buy" buttons at the client dashboard.
I will clarify:

i am a webdeveloper and i'd like to sell hours.
isnt it an idea to have these "buy" buttons also on the client portal?

[2020-04-03 15:21] danielgroen opened #134 "When i change my app_key in my .env i get an error that i have a wrong mac address"
I also tried to re-generate it but in other issues i understood that there is a known issue that the .env file could not be updated. Is this also the issue? Because now my app is running on the standard app_key which is pretty insecure.

[2020-04-03 15:23] hillelcoren commented on #133
The links/buttons are designed to be used other places online not in the portal

[2020-04-03 15:28] danielgroen opened #135 "Styling updates"
Hi,

i would like to help you guys with some styling updates of the platform itself!
please let me know if there is any need.

I just see that some things can be a bit more pixel perfect. Although i've seen your old design which i very like because it looks very clean

![image](https://user-images.githubusercontent.com/6578052/78377872-7d0ef100-75d0-11ea-8710-1105faa62684.png)

[2020-04-03 15:29] hillelcoren commented on #135
Not sure all these issues belong on the dockerfile project?

[2020-04-03 15:31] danielgroen commented on #133
Okay then!

I was just wondering if it was an idea to also implement them at the client portal which i think would be nice but it was just a suggestion :-) !

[2020-04-03 15:34] danielgroen commented on #135
Yup sorry, this is more for the invoiceninja/invoiceninja repo. Anyways i am closing this one

[2020-04-03 15:34] #135 closed

[2020-04-03 15:35] danielgroen commented on #132
@hillelcoren do you have any idea?

[2020-04-04 15:20] #131 closed

[2020-04-04 17:03] hillelcoren commented on #133
I guess you could use them in the portal with the custom messages feature?

[2020-04-04 17:06] hillelcoren commented on #134
You can run `php artisan ninja:update-key` to set a new key but make sure to backup your database and .env file first

[2020-04-05 10:53] danielgroen commented on #134
when i try the command i'll get the following message:

`
docker exec -i docker-compose_app_1 php artisan ninja:update-key

Sun, 05 Apr 2020 10:51:38 +0000 Running UpdateKey...
Sun, 05 Apr 2020 10:51:38 +0000 Error: app key and cipher are not set`

It suggets that i don't have any key in my .env file. True so far...
So i generated one key for myself, putted it in the .env file, afterwards i restar

[2020-04-05 11:05] hillelcoren commented on #134
One solution is to manually delete the records in the account_gateways table and then re-add the payment gateways in the UI

[2020-04-06 09:18] hillelcoren commented on #84
Is this still an issue, @lalop is there anything we can do to fix this?

[2020-04-13 22:08] killarny opened #136 "update docker hub with new release(s)"
The latest changes in this repo are for version 4.5.18 of [invoiceninja/invoiceninja](https://github.com/invoiceninja/invoiceninja), but it appears that there have been a number of releases since then according to [the release list for that repo](https://github.com/invoiceninja/invoiceninja/releases) with 5.0.4 released just a couple of days ago.

[2020-04-14 04:45] hillelcoren commented on #136
v5.x is a completer rewrite, it will need a separate dockerfile.

https://www.invoiceninja.com/forums/topic/the-new-invoice-ninja-alpha/

[2020-04-14 10:43] lonix1 opened #137 "Empty logs"
Has anyone here managed to get logs in `/var/www/app/storage/logs`? That directory is always empty for me.

- the container's php-fpm master processes run as root
- the container's pool ("www") processes run as www-data or 82
- the container's log directory is `www-data:www-data` and `775`

[2020-04-24 15:20] #96 closed

[2020-04-24 15:21] #90 closed

[2020-04-24 15:21] #86 closed

[2020-04-24 15:22] #82 closed

[2020-04-27 16:23] gerroon commented on #134
I am getting an errro when I try to update the key too, can someone please tell me the right way to do  this?

[code]

[2020-04-27 16:56] gerroon commented on #136
@hillelcoren Can the old database from 4x be used in 5x?

[2020-04-27 17:03] hillelcoren commented on #136
No, we've built a tool to migrate the data

[2020-04-27 19:46] gerroon opened #138 "production.ERROR: ***Illuminate\Database\QueryException***"
Hi

I have been trying to set this container up and hitting an error here.

Is et up eveverything including the .env file.. It seems to me that the database is created by the initial setup (logged in to the container) but it does not want to show the actual site, once I press submit I get "Whoops, looks like something went wrong."

There are bunch of repeating errors like below

I am using Docker

[2020-05-01 03:15] alexdmejias commented on #108
@ravigupta-art do you have an update on this?

[2020-05-01 08:19] ravigupta-art commented on #108
Yes, I have. I got busy with my art work. The current COVID-19 situation has affected the work flow. But, as mentioned above, substituting the `image: mysql:5` with `image: armv7/armhf-mysql:5.5` does the trick.

Caveat here is that we are pulling mysql image from an unreliable source. As promised, I wish to make the video about it as soon as possible.

[2020-05-09 20:18] codedge commented on #112
@lalop
Is there something left here to be done?

[2020-05-10 07:34] lalop commented on #112
last image is version 4.5.18, so yes we can close this issue

[2020-05-10 07:34] #112 closed

[2020-05-10 07:57] codedge commented on #133
@hillelcoren @lalop  there something left here to do regarding Docker?

[2020-05-10 08:01] #133 closed

[2020-05-10 09:14] codedge commented on #137
Is there anything in particular you like to see in the logs?

IN runs in production mode and with `APP_DEBUG=0` which means only serious errors will be logged.
So if your IN installation runs without problems why should there be any log file?

[2020-05-10 09:38] codedge commented on #109
@lalop
What is that freetype issue, I mean is there any issue/reference to that?

[2020-05-10 09:52] lonix1 commented on #137
You're assuming my installation "runs without problems". 😉

When facing problems I kept reading that I should check my log files. But I don't have any.

[2020-05-10 09:55] codedge commented on #137
Can you name a use case (that you face) where you have a serious problem with IN and therefore should habe a log file in the `storage/logs` folder?

[2020-05-10 10:10] lonix1 commented on #137
I struggled to get my installation working due to nginx configuration problems. Others faced similar problems and were told to "check their log files".

So I tried to check my log files and discovered I don't have any.

[2020-05-10 10:13] lalop commented on #137
If you don't override the log variable the log should go in the docker output
https://github.com/invoiceninja/dockerfiles/blob/master/Dockerfile#L73

[2020-05-10 10:19] lalop commented on #109
not sure anymore, but I think this is related to https://github.com/docker-library/php/issues/865#issuecomment-511583850

[2020-05-10 10:22] lonix1 commented on #137
@lalop Interesting, thanks.

That line shows `ENV LOG errorlog` - what is `errorlog`?

If it is redirected to docker's output / error, I assume output would be redirected to `/dev/stdout` and errors to `/dev/stderr`?

[2020-05-10 14:39] codedge commented on #101
@nordge1 Do you still experience this issue?
What docker setup do you run - with `docker-compose` or only the PHP docker image with some extra web server in front?

[2020-05-10 15:13] codedge commented on #81
Unclear what your problem is with the `docker-compose` setup.
Can you give any error message?

If not, it is impossible to tell how to resolve your issue.

[2020-05-10 15:32] codedge commented on #105
Can you please post your `docker-compose.yml`?

[2020-05-10 15:45] Hydrog3n commented on #81
Woo this isssue is very old. I will close it because I don't remember what was the problem but I remember run invoiceninja in docker-compose.

[2020-05-10 15:45] #81 closed

[2020-05-10 17:16] codedge commented on #138
For this errors could be multple reasons.

1. `Access denied for user 'root'@'172.29.0.4'` looks like you specified a wrong database connection
2. `Base table or view not found: 1146 Table 'ninja.scheduled_ cron_1  |   reports' doesn't exist` looks like a migration did not run completely

Not sure how to help here. Do you still have this problem @gerroon ?

[2020-05-10 17:29] codedge commented on #137
`errorlog` from the [Laravel docs](https://laravel.com/docs/5.6/logging) means

[2020-05-10 17:34] codedge commented on #137
@lalop

What happens if the docker container runs detached/in background? I suppose the only way to get the logs then is to do `docker logs`?

[2020-05-10 17:38] codedge commented on #113
@ghost @MayNiklas If you still have issues with that please post your `docker-compose.yml` files.

[2020-05-10 17:43] gerroon commented on #138
Thanks for the reply. I am hosting it locally now, gave  up on the Docker one.

[2020-05-10 17:43] #138 closed

[2020-05-10 18:32] codedge opened #141 "Moving cronjobs into main docker image"
I just came across that in the `docker-compose` setup there is a separate `cron` container to run the cronjob for sending _reminders_ and _invoices_.

@lalop  Is there any particular reason why the cronjob does only exist for `docker-compose` and not for php docker images?
I would vote for moving the cron into the docker images itself. Cronjobs can easily be run by the `alpine` or `debian`-based i

[2020-05-11 12:00] lalop commented on #141
There is no particular reason, the docker image version of cron in the way it's done on dc is more a lack of documentation then any thing else.
Any way the cron system is pretty rudimentary and some work on this is welcome.

I built this first system regarding how this is handled on other project.
On docker one of the main principle is to have one process per container. Having cronjobs running in

[2020-05-11 12:02] lalop commented on #137
@codedge exact, the log goes to the standard docker output

[2020-05-11 12:02] lalop commented on #137
@lonix1 can we close this ?

[2020-05-11 12:20] lonix1 commented on #137
ok thanks

[2020-05-11 16:00] codedge commented on #141
I got your point and I think it is good to leave cronjobs out of the containers / in a separate container. But I'd like to unify the cron script / tasks to have a central place / script to maintain these for both version, with `docker-compose` and without.

I think we also need to update the documentation here on the docker repo about this to give people an immediate hint how to deal with the dock

[2020-05-11 16:03] hillelcoren commented on #141
FYI...  in the next version we plan to use Laravel's scheduling feature which should make the crons a bit easier to manage.

https://laravel.com/docs/7.x/scheduling

[2020-05-11 16:50] codedge commented on #141
That's a good thing, but still you need to some set a cronjob, and only if it is for running a single line to start the scheduler :)

[2020-05-11 20:43] #71 closed

[2020-05-11 20:43] #127 closed

[2020-05-11 20:44] #123 closed

[2020-05-12 04:32] lonix1 commented on #137
@codedge I am using `docker-compose.yml`, and when I added this:

[code]

...and forced some errors, then indeed I found `laravel-error.log` and `stacktrace.log` in the directory `/var/www/app/storage/logs`.

I was thinking that this is not the expected behavior. In all FAQs and other issues, @hillelcoren always says to "check your logs". That means that it is expected that the app would generate

[2020-05-12 06:18] hillelcoren commented on #137
I'm all for anything which makes it easier for users to have access to their logs.

[2020-05-12 07:17] codedge commented on #137
@lalop and me had a discussion about this yesterday evening. There is still an open PR #142 to update the documentation and explain how to view the logs when running IN in Docker.

Logs are always generated, they are just elsewhere. Let me finish this PR and get this merged in.
Then things should be clearer.

[2020-05-12 08:29] #137 closed

[2020-05-12 21:02] codedge commented on #125
I don't think we'll support this for now, neither do I think IN _is the weak link_. Supplying passwords via env variables is still a valid thing. Many users utilizing docker to run IN have enough to do to get this handled. Introducing secrets would add another layer of complexity.

As much as I understand this request, I think there are more important tasks first.

[2020-05-13 04:09] lonix1 commented on #125
Leaking passwords in log files is definitely a bad thing... That's why this approach is no longer done in any major app, check other dockerfiles to be sure.

(PS, as an e.g. check the [mariadb entrypoint](https://github.com/docker-library/mariadb/blob/48ee7746c6da7dfd372189a0d5a45a7894548cd9/10.5/docker-entrypoint.sh#L25) script, secret support is not complex - the entrypoint reads the file, if it

[2020-05-14 17:04] codedge commented on #101
Closing this for now. @nordge1 please open another issue if you still facing issues.

[2020-05-14 17:04] #101 closed

[2020-05-14 17:05] codedge commented on #113
Closing this. @ghost let us know if you still encounter issues.

[2020-05-14 17:05] #113 closed

[2020-05-17 21:30] codedge commented on #105
Closing this. Please create a new issue when facing this issue again.

[2020-05-17 21:30] #105 closed

[2020-05-18 12:36] codedge commented on #102
@alexanderadam We updated the `alpine` image. I wasn't able to reproduce the issue you got. Please check again and let us know if you still encountering problems.

For now I close this issue here. Feel free to open a new one.

[2020-05-18 12:36] #102 closed

[2020-05-18 12:47] alexanderadam commented on #102
Thank you but in the meantime I moved away to another FOSS invoicing/time tracking solution.

[2020-05-22 07:28] codedge commented on #109
We are currently working on some newer, more up to date images which will be based on `alpine`. Please start using this as we plan to phase out the debian-based images. You can use `invoiceninja/invoiceninja:alpine` already.

[2020-05-22 07:28] #109 closed

[2020-05-22 07:31] codedge commented on #115
Hey @dottgonzo I hope you figured it out. We don't provide support for Docker swarm and won't probably in the future.

Maybe StackOverflow would be a good place to ask for a solution.

[2020-05-22 07:31] #115 closed

[2020-05-23 09:53] codedge commented on #84
We reworked the documentation and the docker-compose files a lot. Additionally we updated the `alpine` image.

Please give it a try, have a look at the readme and let us know about anything unclear.

Unfortunately we cannot assist every docker setup you might want to run. So for any problems with Traefik or Docker swarm we are not able to help.

Feel free to open new issues, specific to one use-ca

[2020-05-23 09:54] #84 closed

[2020-05-24 15:08] decentral1se opened #149 "Support `_FILE` env vars for secret configuration"
Hi folks, thanks for the great work, I've got a favour to ask.

I'm deploying `invoiceninja` on docker swarm and everything runs smoothly until I realise that I *must* provide a writable `/var/www/app/.env` file. Now, I use a [docker config](https://docs.docker.com/compose/compose-file/#configs) for this file which can never be writable (`tmpfs`, for the purposes of rollback). I can't specify secr

[2020-05-25 06:57] codedge commented on #149
This is connected to #125

I think we can have a look into that.

[2020-05-25 07:59] decentral1se commented on #149
Aha, yes, https://github.com/invoiceninja/dockerfiles/issues/125 is very much related. I guess this ticket is the counter-part upstream in IN which highlights that there are actually application code changes required (that's why I didn't open on dockerfiles side).

If some work does go into this (:partying_face:) I can support by manually testing it!

[2020-05-25 08:01] decentral1se commented on #125
Aha, possibly the same ticket even, but https://github.com/invoiceninja/dockerfiles/issues/149 is opened too! Definitely would be fantastic to get this supported :wave:

[2020-05-25 08:03] decentral1se commented on #125
RE: env vars being a thing, indeed! Still a valid thing to do but Docker swarm people made that choice for users and restricted it (still possible somehow but veryyy hacky and not worth it / easily maintainable, I guess). That is quite crap and the blame shouldn't be foisted on IN, certainly.

[2020-05-25 15:44] Mzngit opened #150 "Versioning issue"
Hi,
Latest update to 4.6.0 results in version listed in the Docker container info as blank. Also, when loading up the invoiceninja page, the version listed on the bottom of each page is still 4.5.18.
Finally, when do you anticipate version 5.0.4 being ready to be deployed as a Docker container? I understand that the database will need to migrated as well, and thus what is the process for doing so?

[2020-05-25 19:20] codedge commented on #150
Which image do you use? `alpine`?

[2020-05-25 20:05] codedge commented on #150
@Mzngit the issue with the improper version has been fixed. When you pull the images now, IN `4.6.0` runs.

That problem should be fixed as well.

About docker for version 5, I cannot tell. It is in planning, but no final date.

[2020-05-25 20:40] codedge commented on #150
⚠️ Do not use the `4.6.0`. There were some misunderstandings - `4.6.0` was not meant to be a release. The release was revoked from both repos, invoiceninja and dockerfiles.

[2020-05-25 20:40] #150 closed

[2020-05-27 17:05] kilabyte opened #153 "Blank screen"
Following the docker-compose it installs successfully with no errors but when i go to the address its just a blank screen. any ideas?

[2020-05-27 17:14] codedge commented on #153
Do you see any error when running `docker-compose logs -f` and refreshing the page?

[2020-05-27 17:38] kilabyte commented on #153
nope none

[2020-05-27 19:35] codedge commented on #153
Can you also insert your `docker-compose.yml` here? I guess you set an `APP_KEY`, right?

[2020-05-27 19:57] codedge commented on #119
I think this is solved. If you @smcpeck still have issues with the current version please let us know in a separate issue.
When using IN please stick to the `alpine` version.

[2020-05-27 19:57] #119 closed

[2020-05-27 20:07] codedge commented on #126
@lonix1 We did some changes to the `alpine` image and  this problem should not appear anymore. I'll close this problem for now. Feel free to open anothe issue if you encounter any problem.

[2020-05-27 20:07] #126 closed

[2020-05-27 20:09] codedge commented on #99
Please use the current `alpine` image where this issues has been fixed. Also do [note the permission changes](https://github.com/invoiceninja/dockerfiles#create-folders-for-data-persistence) that come with that change.

[2020-05-27 20:09] #99 closed

[2020-05-28 02:11] kilabyte commented on #153
Ya I don't even get that page in chrome. It's just blank. I'll post my compose one sec. And it's a fresh install

[2020-05-28 06:05] alexanderadam commented on #99
I moved to anotherThank you but in the meantime I moved away to another FOSS invoicing/time tracking solution.

[2020-05-28 06:12] codeagencybe commented on #99
@alexanderadam

What are you using now? And does it support proforma invoice (another thing InvoiceNinja can't handle) ?

[2020-05-28 06:36] codedge commented on #153
I see. Can you add `APP_DEBUG=1` to the env var of the app container? That should some info displayed on the screen - hopefully.

[2020-05-28 06:48] hillelcoren commented on #153
If you haven't already please check the web server error logs

[2020-05-28 08:27] #136 closed

[2020-05-28 08:34] alexanderadam commented on #99
@codeagencybe I switched to [kimai2](https://github.com/kevinpapst/kimai2). There's also a [demo](https://www.kimai.org/demo/) if you want to try it.
I needed LDAP support which [invoiceninja still hasn't](https://github.com/invoiceninja/invoiceninja/issues/1768).

I'm sure that there might even better solutions. Just look explore GitHub a bit.

For instance search for [`invoicing`](https://github

[2020-05-28 08:54] codedge commented on #153
@kilabyte If you start from scratch, ou can also check out the new _5.0.4_ version which is now available for docker.
The `docker-compose.yml` has been adjusted to use the new version. The configuration is the same, meaning the env vars.

Happy to help if you encounter problems.

[2020-05-28 10:41] codeagencybe commented on #99
I knew most of these tools already. I was also checking out Crater but it's too limited, no time tracking etc... .

At the moment. we are using Odoo Enterprise since many years. Mostly because of all their apps integrated. But Odoo is a difficult one in terms of updates but pretty solid.
It's an ERP after all, not just an invoicing tool.
For my own company use, we will stay on Odoo for the time be

[2020-05-28 10:42] hillelcoren commented on #99
This isn't the best place to discuss our competitors, it doesn't seem like a very nice thing to do...

[2020-05-28 16:05] kilabyte commented on #153
tried with the new docker compose, fresh install and get the same thing. if i try through https and 443 i get ERR_CONNECTION_CLOSED. However using firefox i can get it to load the page but now i get SQLState connection refused

![image](https://user-images.githubusercontent.com/487948/83165465-6661b380-a0c2-11ea-9d25-e24f10e7fb37.png)

[2020-05-28 16:57] codedge commented on #153
Hmm.. there are multiple things:

1. You set the port to `444` in your `docker-compose.yml`. So you need to call it via `localhost:443`.
2. Please run `docker-compose down -v` to also clear the originally created db container and then run `docker-compose up -d`
3. When now opening IN, you will still get an error - but you can manually go to `/setup` to process the installation routine

[2020-05-29 07:23] #125 closed

[2020-05-29 07:23] #149 closed

[2020-05-30 01:42] kilabyte commented on #153
ya but im using http not https so should i use 81 on the localhost?

[2020-05-30 11:37] codedge commented on #153
Well, the webserver has an automatic redirect to https, even on localhost. Any reason why you use custom ports 81/444? Are the other ones (80/443) already occupied?

So in any case you should be able to get some message, even some error message, on your custom 444 port when running locally with Chrome.

[2020-05-31 07:48] kilabyte commented on #153
im gonna try on a vm in another cluster and see with the default ports

[2020-05-31 23:27] grahamPegNetwork opened #157 "bash/cron issue in latest docker image"
When running my script to pull/update invoiceninja I discovered that the latest (or base?) image appears to have a problem with cron.

I am using a minor variation of the docker-compose file but with a system nginx reverse proxy rather than caddy.

The image I have been using is invoiceninja/invoiceninja (I believe this results in invoiceninja:latest)

System: Debian Buster, latest docker via offi

[2020-06-02 06:14] codedge commented on #157
The `latest` tag includes the version 5 of Invoice Ninja. To stick to version 4, please use `alpine-4` or `4.5.18`.
ℹ️ The `4.5.18` tag is the one suitable for you, I guess. It uses debian under the hood, which uses `bash` and therefore has no problems with the cron command referenced inside the docker-compose file.

As all upcoming version are based on Alpine Linux, the cron command needs to be a

[2020-06-02 06:14] #157 closed

[2020-06-02 09:39] oliverpool opened #158 "Add dockerhub tag `4` (like alpine-4)"
My docker install is set to auto update to the latest version. It recently upgraded to v5, which broke my install (see https://github.com/invoiceninja/invoiceninja/issues/3767).

So I wanted to stay on the v4, but there is not tag `4` on dockerhub:
https://hub.docker.com/r/invoiceninja/invoiceninja/tags (there is however a `4-alpine` tag).

In the meantime, I am using the `4.5.18` tag, and everyth

[2020-06-02 09:41] oliverpool commented on #158
I just saw #156 (Remove debian versions).

So I should probably switch to `alpine-4`, is this correct?

[2020-06-02 09:44] codedge commented on #158
Yes, correct. Please either use `4.5.18` to pin an exact version or use `alpine-4`. The `alpine-4` will always provide the latest 4.x release

[2020-06-02 09:45] #158 closed

[2020-06-02 18:01] kilabyte commented on #153
so i spun up a new ubuntu vm and clone this repo added the api key and i dont see a blank screen anymore but i do see error 500 internal server but no errors from the logs

[2020-06-02 18:02] kilabyte commented on #153
i guess it NEEDS to have a certificate i cant just run it with localhost?

[2020-06-02 18:48] kilabyte commented on #153
now it doesnt load at all firefox or chrome just keep saying waiting for localhost...

[2020-06-02 18:53] kilabyte commented on #153
there we go a clean install worked. Ok so i guess i cant have the external ports different then 80 or 443?

[2020-06-02 18:55] #153 closed

[2020-06-03 02:43] IronicBadger commented on #126
v5, no matter what I tried (`chown -R 777` or `chmod -R www-data:www-data`) including the fixes above I could not get beyond

`2020-06-03T02:38:33.811121491Z chown: /var/www/app/public: Operation not permitted`

This was for all files in `/var/www/app` not just the one line above. Reverted back to the `4.5.18` and issue went away.

[2020-06-06 12:08] jpmurray commented on #108
I tried to go the mariadb way and even them don't seem to have an image for armv7 yet, so I want to just confirm, using the image @ravigupta-art said, `armv7/armhf-mysql:5.5` works perfectly fine when pulling on a Raspi 4 !

[2020-06-06 12:23] jpmurray opened #162 "Trying to debug trouble with SSL"
So yeah, I might have an uncommon setup, but if anyone can help me here...

I run my Docker files behind an Nginx Reverse Proxy (using the great `jc21/nginx-proxy-manager` not to name it!) on a Raspi 4.

Now I finally had the docker images to pull and start after reading #108 , but trying to access the installation from the browser gets me `ERR_TOO_MANY_REDIRECTS` error. Since NPM pulls certificat

[2020-06-06 12:26] jpmurray commented on #162
Additionnal info, I check the logs and I can see that line:

`{"level":"info","ts":1591446275.4096935,"logger":"http","msg":"server is listening only on the HTTPS port but has no TLS connection policies; adding one to enable TLS","server_name":"srv0","https_port":443}`

Seems changing the SSL port in dockerfile won't change what Caddy is using? This might be a problem.

[2020-06-06 12:28] jpmurray commented on #162
Woops, that's worse than just SSL I think. The `app` exits after sending a couple of `standard_init_linux.go:211: exec user process caused "exec format error"`.

[2020-06-06 16:49] ravigupta-art commented on #108
Yes, also I found other mysql images on docker hub that could be more reliable. I really want to write an entire article on the process to make it easy for everyone, but just can't able to find time. Let me finish up the illustrations for the new book I am working on, I will address this soon.

[2020-06-06 18:02] jpmurray commented on #162
I'll be closing this becase I finally went on and installed directly from source, less hassle.

[2020-06-06 18:02] #162 closed

[2020-06-10 17:19] SelfhostedPro opened #163 "Connection reset after deployment"
Here is my docker compose. I'm using this with an app template so all of the ${} variables are pulled from there. (https://github.com/SelfhostedPro/selfhosted_templates)
[code]
Here are the logs:
[code]

[2020-06-11 00:48] Technetium1 commented on #79
Can you have the best of both worlds [with stack deploy](https://docs.docker.com/engine/swarm/stack-deploy/)?

[2020-06-11 07:03] codedge commented on #163
I cannot see any error there. You also mix env vars from IN 5, like `DB_HOST1`, with IN 4. This does not work. Do you want to use IN 4 or 5? - keep in mind, that IN 5 is in alpha state.

I'll add a separate docker-compose for IN or you can have a look about all correct [env variables here](https://github.com/invoiceninja/invoiceninja/blob/master/.env.example)

[2020-06-11 14:44] SelfhostedPro commented on #163
I want to use IN 4 I guess I was a bit confused on the environment variables. Is that link all env variables for IN 4?

[2020-06-12 07:03] codedge commented on #163
Yes, that link contains all possbile env variables that can be used for IN 4.

[2020-06-13 07:10] shadekh commented on #108
I tried the suggested fix, but the compose exited with an error while setting up pi_server_1. Does anyone have an idea what I am doing wrong?
I am on a raspberry pi 4 headless, fresh install of docker and docker compose. Ran the docker compose yml with the mysql modification

![image](https://user-images.githubusercontent.com/66863419/84562574-0120ea00-ad73-11ea-9028-c7600a72c9ff.png)

[2020-06-14 16:14] fwdIT opened #164 "Caddyfile example 'templates' entry seems to conflict"
Using latest caddy image and latest 4.* invoiceninja image

When trying to create an invoice on a clean install or trying to open invoice settings, I get this error:

[code]

[code]

After some testing and in the end just logical thinking based on what I see above, it seemed that the app image (being the php invoiceninja one) gave a nice clean response with http code 200. It was however the caddy

[2020-06-15 08:42] codedge commented on #164
@fwdIT I'll have a look into that but what you found out looks very valid. I'l lget back to you soon.

[2020-06-16 15:44] BusinessVisionEnforced opened #166 "Running the container with only http on internal network"
In the previous version i could just start the container in http only and run the application on an internal IP address.

It looks like this is not possible anymore with caddy installed?
Is there a way to disable caddy?
I'm using docker compose and a reverse proxy in front of it to handle the SSL things.

Would like to see a that i would be possible to just start the container again with only HTTP

[2020-06-16 18:45] codedge commented on #166
The current `docker-compose.yml` provides a setup for IN 5 w/ Caddy in front.

Options:
- Modify the `docker-compose.yml` file to use IN 4 w/o Caddy
- Don't use docker-compose and justbring up the IN container only. For that all steps are described in the readme

The last option could be the one with any web server (Nginx, Apache, ... ) in front just serving the content.

Does that help?

[2020-06-19 08:26] BusinessVisionEnforced commented on #166
Hi Codedge!
thnx for you response:)

Well i have portainer and use it to automaticaly enroll invoice ninja instances for customers running on the same server all with there own containers.

Is it possible to make it work with docker compose?

**I used this and it worked previously:**

######
version: '3.6'

volumes:
  db:
  storage:
  logo:
  public:

# uncomment if you want to use external networ

[2020-06-19 14:46] codedge commented on #166
It looks like that there is no official domain passed to Caddy, instead it uses the IP 172.18.0.4. I think when you pass an individual TLD domain, for which  Caddy can obtain a proper certificate, then these errors should not appear.

The _APP_URL_ env var is responsible for setting the correct domain.

[code]

You can of course just exchange Caddy with nginx. If that one runs better with your set

[2020-06-23 06:22] #164 closed

[2020-06-24 20:54] causefx commented on #126
any update on @IronicBadger's issue

[2020-06-24 21:03] IronicBadger commented on #126
Maybe we should open a new issue as I can't reopen this one.

[2020-06-25 15:11] decentral1se opened #167 "Re-deploy of container resets state even with volume persistence?"
I am running the following invoiceninja docker swarm deployment from a  docker-compose.yml file listed below. Each time I run `docker stack deploy invoiceninja`, the app comes up fine and I need to go to `/setup` to fill in my details. Now, if I `docker stack rm invoiceninja` then the app goes down. The volumes are not destroyed. The application data should be persisted. Now, when I `stack deploy

[2020-06-25 15:26] decentral1se commented on #167
:scream:

[code]

->

[code]

And using `APP_KEY`, `API_SECRET` and `DB_PASSWD` as env vars only worked.

Fixed! Sorry for the noise...

[2020-06-25 15:26] #167 closed

[2020-06-30 21:11] dhensen opened #168 "Missing dependency: node + npm"
It seems that the PDF functionality depends on node+npm, but there is no node+npm in your docker image.

# Logs

[code]

# Setup information
docker-compose up, using image `invoiceninja/invoiceninja:5.0.5`

[2020-07-02 11:05] codedge commented on #168
I wasn't aware that `npm` is needed even after installation. I'll add this. Thanks for thge hint 👍

[2020-07-07 23:40] karneaud opened #170 "Failed to parse dotenv file due to unexpected whitespace"
Trying to get this up on Docker( based on offical invoiceninja image) running PHP 7.3 with 5.0.12-release and I get the subject error

Turns out  for some reason setup is writing EVERY ENV variable available into the .env file causing this invalid response.

Why is it doing this?

[2020-07-08 00:10] turbo124 commented on #170
I think this may get better quality responses here

[2020-07-08 01:18] karneaud commented on #170
I'm not sure it would as I do not think it is related is it? As a workaround I had to

[code]

perhaps the can be a way to filter the necessary ENV VARS and also MERGE custom VARS as necessary?

[2020-07-08 07:18] codedge commented on #170
Hi @karneaud

The error `The environment file is invalid!` does not occur in the default setup.
I am unsure if this is problem with Docker. The docker setup does not modify any IN file.

What new env variables are you trying to set?

[2020-07-08 07:46] hillelcoren commented on #170
As the error says one thing to check for is any unexpected whitespace, for example:

`FIELD=some value`

vs

`FIELD="some value"`

[2020-07-08 07:51] codedge commented on #170
Correct, this `FIELD=some value` is invalid in `.env` files. Always quote whitespace as show above.
@karneaud As I wrote, we need to know what are you trying to achieve, which env var you want to set, and how you do that. Please also paste the Docker/docker-compose commands you use and/or your `docker-compose.yml` file.

[2020-07-08 11:05] karneaud commented on #170
Well i've been at this for 2 weeks trying to get the version to install and it tries to write EVERY ENV variable to the.env. My workaround just limits it to the necessary ones

[2020-07-08 11:28] codedge commented on #170
Sorry, but I still have no clue where the problem is. About what env vars you talk? What are the _necessary_ ones? Can you provide code sample/env files/docker commands you run... anything that explains the issue in detail?

Which step of you leads to which result/error?

If not I think we're unable to provide help.

[2020-07-08 15:09] micah opened #171 "Cannot run container as non-root"
Hi,

Because of the chown in the Dockerfile, it is not possible to run your container as non-root. This is a generally regarded good practice, and many things are moving that direction.  It would be great if this could be resolved :)

[2020-07-08 15:14] codedge commented on #171
Hi @micah

I am not sure if I understand right. Yes, it is definitely possible to run it as non-root. The user on the host system is totally independent from the user inside the container.

Which `chown` do you mean? Can you paste a link to the exact line?

And what is the exact error message?

[2020-07-08 15:41] micah commented on #171
I'm using the docker image invoiceninja/invoiceninja, so I'm not sure which version that is, this is what I see on startup:

[code]

[2020-07-08 15:47] micah commented on #171
It seems to be in the entrypoint.sh:

[code]

[2020-07-08 22:20] #170 closed

[2020-07-09 09:15] BusinessVisionEnforced commented on #166
Hi Codedge,

Thank you for the response!

I'v tried to replace the caddy server to nginx but still get some errors.

Can you send me an example compose file with nginx server that works?

Thank you in advance!

[2020-07-09 20:49] karneaud opened #172 "There appears to be a problem with your configuration, please check your .env file. If you've run 'php artisan config:cache' you will need to run 'php artisan config:clear'"
# Error

# Setup information
Raspberry pi 3 B+
Docker version 19.03.7, build 7141c19
Docker Compose version 1.23.2, build 1110ad0
Invoice Ninja version: 4.5.18

Dockerfile
[code]

docker-compose.yml
[code]

docker-entrypoint

[code]

If I `php artisan config:cache` and `php artisan config:clear` I get

my .env

[code]

see https://stackoverflow.com/questions/62821760/laravel-env-problem-with-the-c

[2020-07-09 21:10] karneaud commented on #108
@shadekh  looks like the it could not find the Caddyfile. Also be sure that the images support ARM for RPI

[2020-07-09 21:19] karneaud commented on #172
i can't use IN v5 because my database is not recognized until I upgrade it to v5 compatible. The last successful install was 4.5.14 and there doesn't seem to be a migration tool.

[2020-07-15 00:35] bbrendon opened #173 "4.5.19 release?"
Based on the release notes I would like to upgrade before trying a v5 migration.

Thanks.

[2020-07-15 07:21] codedge commented on #173
Yes, 4.5.19 is now available. Sorry for the delay.

[2020-07-15 07:21] #173 closed

[2020-07-15 07:27] codedge commented on #171
Do you use `docker-compose` or how do you run the image?

[2020-07-15 13:05] BusinessVisionEnforced commented on #166
Hi all,

Is there anyone how could help me out here?

Thnx!

[2020-07-15 17:02] alexdmejias opened #174 "Error: "SQLSTATE[HY000] [2002] No such file or directory" with alpine-4"
I'm trying to setup version 4 and this is what I'm seeing when trying to setup the DB.

I don't know if it matters but I have created `storage` and `public` under `./docker/app` and ran the `chown` command from the readme. Running on Windows via WSL (other docker apps(Portainer) seem to be working fine)

# Logs

Did you check the logs ?
If any Error is present there please copy/paste it below

[co

[2020-07-15 18:07] bbrendon commented on #173
You sure? Is there a delay?

[code]

[2020-07-15 20:15] codedge commented on #173
You can use one of these tags:

* alpine-4
* alpine-4.5.19

So please specify the apropriate tag in your `docker-compose.yml` and then run `docker-compose up -d` again.

To see all tags available please check [Docker Hub](https://hub.docker.com/r/invoiceninja/invoiceninja/tags).

[2020-07-16 06:21] bbrendon commented on #173
Any idea whats different about this alpine build? Looks like a significant change.

[code]
Also the app doesn't start...
[code]

[2020-07-16 10:41] codedge commented on #173
Yes, the alpine build is different, but the only one supported.

1. The shell

Instead of using `/bin/bash` use `/bin/sh` to run your cronjobs.

2. `docker-compose`

I don't know how your docker-compose.yml looks like. Maybe you can paste it here? I think the permssion for the mounted folders need to be adjusted. There is [help section here](https://github.com/invoiceninja/dockerfiles#create-folde

[2020-07-16 10:43] codedge commented on #174
The host for your database is not `localhost` but `db`. Then using docker-compose you call the individual containers via their service names in the`docker-compose.yml` file - which is `db` for the database.

[2020-07-16 10:52] codedge commented on #172
For the `APP_KEY` please try specifiy it in your `docker-compose.yml`. You do use a heavily customized setup:

* RPi w/ arm arch
* No official supported image, arm32v7/invoiceninja:php7.3-fpm

I can only give some hints but not debug your setup. We provide a fully functional image [IN v4 image here ](https://hub.docker.com/r/invoiceninja/invoiceninja/tags), just not for `arm` arch.

[2020-07-16 11:44] karneaud commented on #172
@codedge noted.

[2020-07-16 11:44] #172 closed

[2020-07-16 13:15] alexdmejias commented on #174
wow that's so basic, not sure how I missed that.

So I followed your advice and can successfully test the db connection but when I continue to the next step I get a similar error but on a different query

![image](https://user-images.githubusercontent.com/1284283/87674828-8f0e3d00-c744-11ea-844c-e22edd6e507b.png)

[2020-07-16 22:08] codedge commented on #174
Hmm, I guess somehow migrations or any other initial thing did not run. What you can try is running `docker-compose down -v`.
⚠️ This removes your complete database. As it seems you're doing a completely fresh install so there should not be anything important in there.

And then run `docker-compose up -d` and the initial setup again.

What I can see as well is, that you mix env vars for version 5

[2020-07-17 00:01] alexdmejias commented on #174
I'll look at the ENV variables now but FWIW I have been bringing docker compose up and down exactly how you described

[2020-07-17 06:02] codedge commented on #174
IN v4 is developed in [`master` branch](https://github.com/invoiceninja/invoiceninja). The version 5 you can find in [`v2` branch](https://github.com/invoiceninja/invoiceninja/tree/v2).

[2020-07-17 10:17] Yali0n opened #175 "Can't create Expenses or Vendors - Whoops, looks like something went wrong."
# Before creating an issue

Be sure the issue isn't yet reported here or dicussed on stackoverflow
OK

# Logs

Did you check the logs ?
If any Error is present there please copy/paste it below

**Expenses**
[code]

**Vendors**
[code]

# Setup information

What version do you run?
**invoiceninja/invoiceninja:4.5.18**

[2020-07-27 20:22] SinisterCrayon commented on #171
I'm having this exact same issue too when using any bind-mounted directories no matter what permissions I set on them. Using volumes seems to work but is a long way from how I want this to function in my setup as I use bind-mounts for everything else. Even tried doing setgid to see if that would work but to no avail.

[2020-07-28 09:51] RafVandelaer opened #176 "Docker-compose file not working"
When I use the vanilla docker-compose.yml file from the GitHub page of InvoiceNinja, I get the following error. I have changed al the variables according to the Readme. Does anyone know what causes this error?

ERROR: for test_server_1  Cannot start service server: OCI runtime create failed: container_linux.go:349: starting container process caused "process_linux.go:449: container init caused \"ro

[2020-07-29 06:37] codedge commented on #171
@SinisterCrayon  Can you show the user and group and permissions for the bind-mounted directories? What is the output of `ls -la <bind-mounted dir>`?

[2020-07-29 06:40] codedge commented on #176
Somewhere in your `docker-compose.yml` it seems you have modified the path for the `Caddyfile` to `/home/***/test/config/caddy/Caddyfile\` - but this folder does not exist on your host system.

I don't know where this path `/home/***/test/config/caddy/Caddyfile\` comes from but it is not in the vanilla version of thee `docker-compose.yml`.

[2020-07-29 09:18] RafVandelaer commented on #176
I blanked out my username for security reasons.
Yesterday I tested it on a virtual ubuntu server. The output stayed the same with the following yml being used:

[docker-compose.yml](https://github.com/invoiceninja/dockerfiles/files/4993889/docker-compose.txt)

[2020-07-29 10:18] Yali0n commented on #175
i just checked the database
`docker exec -it ninja-db /bin/bash
mysql -u invoiceninja -p

show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| invoiceninja       |
+--------------------+
2 rows in set (0.001 sec)

MariaDB [(none)]> use invoiceninja;

MariaDB [invoiceninja]> show tables;
+-----------------------------+
| Tables_in_invoiceninj

[2020-07-29 14:26] codedge commented on #176
Is it possible that you did not clone this repo before?

To run a fresh installation with docker-compose please do:

1. Create a new folder, e. g. `/home/test/my-new-in-setup`
2. Clone this repository with `git clone https://github.com/invoiceninja/dockerfiles.git .`
3. Run docker-compose with `docker-compose up -d`

The error you described comes from the fast that you do not have the [config fold

[2020-07-29 14:31] codedge commented on #174
@alexdmejias Any questions open or still having issues? Let me know. Otherwise I would close this issue.

[2020-07-29 17:45] orangethakkali opened #177 "502 Error while using Nginx with Docker"
[code]
This is the docker-compose file I am using with Nginx reverse proxy. I get 502 error when I access https://domain.com. I have set 1001:101 to public and storage folder. On Nginx, I use `proxy_pass http://localhost:8046`.Anything I'm missing here.

[2020-07-29 17:52] RafVandelaer commented on #176
This fixes the problem! Thanks!!

[2020-07-30 05:13] oezh opened #178 "Oops, something doesn't look right! "I could not find NPM anywhere. Is it installed?" (same with Node)"
Installed in new host (clean ubuntu 20.04, cloning this git) with docker-compose using tag invoiceninja/invoiceninja:5.0.13 when I open https://mydomain.com/setup I get a screen checking for dependencies and 2 are missing: NPM an Node

<img width="693" alt="Screen Shot 2020-07-29 at 11 58 30 PM" src="https://user-images.githubusercontent.com/60199744/88883111-181f7c80-d1f9-11ea-84d8-71ea67c4b1c3.p

[2020-07-30 07:05] #176 closed

[2020-07-30 07:07] codedge commented on #178
This is a thing that needs to be fixed inside the image. I'll try to provide a fix asap. This is the same issue as in #168

[2020-07-30 07:09] codedge commented on #175
Glad you found a way to fix this. I don't know how this happened. Is this a problem only when running Invoice Ninja with Docker or does it also happen in an install without Docker?

[2020-07-30 08:02] alexdmejias commented on #174
hey -- Sorry for the ghosting, I haven't had much time to keep playing with this. I did try to change some variables but still had no luck. My last question was more about which branch of this repo should I be looking at if I want a docker compose file that works out of the box with v4, I should of be clearer

[2020-08-01 17:33] botzill commented on #178
same issue here, thx!

[2020-08-04 15:10] w4tzmann opened #180 "invoiceninja + traefik = ERR_TOO_MANY_REDIRECTS"
Hi,

is there someone who can help me running invoiceninja behind traefik?

Other apps (e .g. mailcow, grafana, portainer) are working fine. But when i try to open invoiceninja in the browser i only get "ERR_TOO_MANY_REDIRECTS"

Thats my docker-compose.yml:

[code]

Thank you in advance!

[2020-08-07 07:13] #168 closed

[2020-08-07 07:13] #178 closed

[2020-08-07 07:40] codedge commented on #180
Sorry, I have no experience with trafik. I guess this is a problem with redirects between HTTP -> HTTPS. Unfortunately I cannot provide any solution for this. Maybe someone else has more experience.

[2020-08-07 07:41] codedge commented on #175
I am going to close this, as it does not seem to be any error with the docker specific setup. Feel free to open a new issue.

[2020-08-07 07:41] #175 closed

[2020-08-08 11:18] w4tzmann commented on #180
Hey,

thanks for your reply. I was playing around with the Caddyfile:
[code]
And APP_URL with https give me a Bad Gateway. I have no public dns entry fore the domain, so acme challange failed.
Log:

[code]

Also result in a Bad Gateway message. Docker-Log for server says:

If i try auto_https disable_redirects and APP_URL http i get 500 | Server Error. Log says:

And auto_https off and APP_URL bri

[2020-08-10 07:52] ovizii opened #181 "Question about upgrading to the docker-compose version without a cron container"
after just updating invoiceninja my old docker-compose.yml does no longer work so I researched and found in the current one: https://github.com/invoiceninja/dockerfiles/blob/master/docker-compose.yml there is no longer a cron container but instead a caddy container.

Can I assume I can simply comment out my cron container and ignore the caddy container (since I run invoiceninja behind traefik anyw

[2020-08-10 08:07] #181 closed

[2020-08-10 09:45] ovizii opened #182 "Need help sorting out docker and IN issues"
I have been happily running IN for a couple of years on docker with docker-compose. Unfortunately, when I started using it I knew little about docker so I was pulling this image: image: invoiceninja/invoiceninja without a tag

![image](https://user-images.githubusercontent.com/837902/89770176-adc2e200-dafe-11ea-9f47-96c2fb75a16f.png)

today I updated and things broke as the latest image as I found

[2020-08-10 17:05] MegaphoneJon commented on #171
@codedge I'm having the same problem as @SinisterCrayon.  This problem started when I switched from the `4.5.17` tag to `alpine-4`.  Here is the relevant portion of `docker-compose.yml`:

[code]

I saw the note in the `README` to change the file owner/group to `1000:101`.  I do this, but when I start the container, I get the error mentioned above, and the files have the owner group changed to `100

[2020-08-11 08:04] codedge commented on #171
Thanks for the info @MegaphoneJon . I'll have a look

[2020-08-11 21:12] digitalvyce commented on #180
I had the same issue running IN behind traefik, I was able to get it to work by foring caddy to not do letsencry/tls (since Traefik is handling that for us). Because of this, it is also important to configure Invoiceninja to not use https when you get to the setup page. But the URL should still have the HTTPS (at least thats what I understand, if someone else can confirm)

I was able to tell caddy

[2020-08-11 21:34] digitalvyce commented on #177
Its been a minute since I've used NGINX to reverse proxy Invoiceninja,

But, the http://localhost:8046 in your proxy_pass looks like it could be the issue.

If I remember correctly, and they do this in the caddy version of the container seen in the config folder of this repo also, they declare app:9000 - where 'app' is the name of the invoiceninja container

your ports look off too, no need to dec

[2020-08-11 22:09] kewngen opened #183 "InvoiceNinja v5 on Raspberry Pi 4 (ARMv7)"
There have been other mentions about IN on RPi, for example: #108
I am still unable to get it to work. When I change the mysql image as mentioned in #108 I get the following error:
[code]

And when I try to build the Dockerfile_5 I get:
[code]

Anyone able to run IN v5 on a RPi 4? If so, please provide some instructions on how to make it work.

[2020-08-14 20:26] vogelfreiheit commented on #174
Hit this issue upgrading... how can you set different DB connection details? Is there DB_USER and so on?

[2020-08-14 20:41] vogelfreiheit opened #184 "While upgrading using docker-compose setup: Fatal error: Uncaught Error: Call to a member function connection() on null in /var/www/app/vendor/laravel/framework/src/Illuminate/Support/Facades/Schema"
# Logs

[code]

# Setup information

Using docker-compose. File is the same as upstream, only change is I use nginx instead of Caddy, and mariadb instead of the traditional MySQL image. It worked just fine before attempting to upgrade to the latest image.

It seems the connection information is not being populated.